{
  "extends": [
    "eslint:recommended",
    "prettier"
  ],
  "env": {
    "browser": true,
    "es2020": true
  },
  "plugins": [
    "@babel"
  ],
  "parserOptions": {
    "ecmaVersion": 11,
    "sourceType": "module"
  },
  "rules": {
    "no-console": "off",
    "@babel/new-cap": "error",
    "@babel/no-invalid-this": "error",
    "@babel/no-unused-expressions": "error",
    "@babel/object-curly-spacing": "error",
    "@babel/semi": "off",
    "no-unused-vars": "warn"
  },
  "globals": {
    "VANTA": "readonly",
    "Elevator": "readonly",
    "zzfx": "readonly"
  }
}
