html {
  font-size: 20px;
  font-family: $body-font;
  line-height: 1.25;
  box-sizing: border-box;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0 0.75rem;
  background-color: $bkgd;
  color: $fore;
  overflow-x: hidden;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  height: 100%;
  width: 100%;
  font-family: $body-font;
  font-weight: $base-font-weight;
  font-size: $base-font-size;
  line-height: $base-line-height;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
  -moz-font-feature-settings: "kern" 1;
  -o-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
  background-image: url("/assets/img/waves.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  background-attachment: fixed;
}

@include media-min-width($pad) {
  body {
    background-image: url("/assets/img/waves-pad.jpg");
  }
}

@include media-min($pad) {
  body {
    padding: 0;
    font-size: 125%;
  }
}

@include media-min($lap) {
  body {
    font-size: 150%;
  }
}

html.modal-open {
  scroll-behavior: auto;

  body {
    height: 100vh;
    overflow: hidden;
    padding-right: 15px; /* Avoid width reflow */
  }
}

main {
  display: block; /* Default value of `display` of `main` element is 'inline' in IE 11. */
}

.hidden {
  display: none;
}

.paused {
  animation-play-state: paused;
  #waves {
    display: none;
  }
}

:focus {
  outline-style: dashed;
  outline-color: $link-new;
  outline-offset: 3px;
}

::selection {
  color: $white;
  background-color: $green;
}

hr {
  width: 80%;
  border-bottom: 1px dashed $fore;
  background: none;
}
