.blob {
  color: $fore;
  background-color: $well;
  margin: 1rem 0;
  padding: 2rem 1rem;
  position: relative;
  max-width: 100vw;
  text-align: center;
  -webkit-animation: Blob 45s ease infinite;
  -moz-animation: Blob 45s ease infinite;
  animation: Blob 45s ease infinite;

  h1,
  h2,
  h3,
  p {
    position: relative;
    z-index: 2;
    max-width: 60ch;
  }

  h2 {
    margin-bottom: 1em;
  }

  p,
  .post p {
    text-align: justify;
    margin-left: auto;
    margin-right: auto;
    font-weight: lighter;

    @include light-mode {
      font-weight: normal;
    }
  }
}

.blob.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;

  h1 {
    margin: 0;
  }

  @include media-min($pad) {
    margin-top: 2rem;
  }
}

.blob.money {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;

  h1 {
    flex: 1 0 100%;
  }

  .fit-phone {
    max-height: 8rem;

    @include media-min-width($pad) {
      max-height: 10rem;
    }
  }
}

@include media-min-width($pad) {
  .blob {
    margin-right: 1rem;
    margin-left: 1rem;
    padding: 2rem;
  }

  .blob:nth-of-type(2n) {
    animation-direction: reverse;
    animation-duration: 30s;
    animation-delay: 4s;
  }
}

@include media-min-width($pad) {
  .blob {
    margin-right: 2rem;
    margin-left: 2rem;
    max-width: 87vw;
    padding: 3rem;
  }
}

@include media-min-height($pad) {
  .blob {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}

@include media-min($pad) {
  .blob {
    padding: 4rem;
    margin: 4rem 0;
  }
}
