.blob {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: center;
  margin: 1rem 0;
  padding: 1rem;
  width: 100vw;
  @include media-min-width($palm) {
    width: calc(100vw - 1.5rem);
    border-radius: 3em;
  }
  color: $fore;
  background-color: $well;
  text-align: center;

  h1,
  h2,
  h3,
  ul,
  li,
  p {
    position: relative;
    z-index: 2;
  }

  h1,
  h2,
  h3 {
    width: 100%;
    max-width: 90%;

    @include media-min-width($pad) {
      max-width: none;
    }

    margin-left: auto;
    margin-right: auto;

    &:not(.bloob) {
      margin-bottom: 1em;
    }
  }

  ul,
  li,
  p {
    max-width: 60ch;
  }

  p,
  .post p {
    text-align: justify;
    font-weight: lighter;
  }
}

.blob.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1.headline {
    margin-top: 1.5rem;
    margin-bottom: 0.25em;

    @include media-min($pad) {
      margin-top: 2rem;
    }
  }

  h2 {
    margin-top: 0;
  }

  .bloob {
    width: 100%;
  }
}

.blob.money {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;

  h1 {
    flex: 1 0 100%;
  }

  .fit-phone {
    max-height: 8rem;

    @include media-min-width($pad) {
      max-height: 10rem;
    }
  }
}

@include media-min-width($pad) {
  .blob {
    max-width: 87vw;
    padding-left: 2em;
    padding-right: 2em;
  }

  .blob:nth-of-type(2n) {
    animation-direction: reverse;
    animation-duration: 30s;
    animation-delay: -4s;
  }
}

@include media-min-height($pad) {
  .blob {
    margin-top: 2em;
    margin-bottom: 2em;
    padding-top: 2em;
    padding-bottom: 2em;
  }
}
