.bloob {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  margin-top: 0.25em;
  margin-bottom: 0.25em;
  padding-top: 3.25em;
  padding-bottom: 1.75em;
  overflow-wrap: break-word;

  @include media-min($pad) {
    padding-top: 2em;
    padding-bottom: 1.5em;
  }

  @include media-min-width($lap) {
    padding-top: 2.5em;
    padding-bottom: 1em;
  }

  #work > & {
    margin-bottom: 0;
  }

  &.purp00 {
    background-image: url("img/bloobs/purp000.png");
  }

  &.purp25 {
    background-image: url("img/bloobs/purp025.png");
  }

  &.purp33 {
    background-image: url("img/bloobs/purp033.png");
  }

  &.purp50 {
    background-image: url("img/bloobs/purp050.png");
  }

  &.bloor00 {
    background-image: url("img/bloobs/bloor000.png");
  }

  &.bloor25 {
    background-image: url("img/bloobs/bloor025.png");
  }

  &.bloor33 {
    background-image: url("img/bloobs/bloor033.png");
  }

  &.bloor50 {
    background-image: url("img/bloobs/bloor050.png");
  }

  &.bloor75 {
    background-image: url("img/bloobs/bloor075.png");
  }

  &.bloor100 {
    background-image: url("img/bloobs/bloor100.png");
  }

  &.ghost {
    position: absolute;
    bottom: -1.5em;
    left: 0;
    right: 0;
    z-index: 1;
    font-size: 100%;
    width: 4em;
    height: 4em;
    padding: 0;
    animation: haunt 45s linear infinite;

    path {
      fill: $green;
    }
  }
}
