a.btn,
.btn {
  display: inline-block;
  padding: 0.75em 1.5em;
  margin: 0.5em;
  text-decoration: none;
  white-space: nowrap;
  outline: none;
  color: $white;
  background: $link-new;
  border-color: $link-new;
  border-width: 0.25em;
  border-style: solid;
  border-radius: 1em;
  font-family: $body-font;
  font-weight: bolder;
  cursor: pointer;
  text-align: center;
  transition: 222ms;
  -webkit-appearance: none;
  -moz-appearance: none;
  box-shadow: inset 0 0 1em 1em rgba(0, 0, 0, 0.25);

  &.pink {
    background: $pink-new;
    border-color: $pink-new;
  }

  &:hover,
  &:focus {
    background: $link-on;

    &.pink {
      background: $pink-on;
    }
  }

  &:active {
    transform: scale(0.97);
    background: $pink-new;

    &.pink {
      background: $green-new;
    }
  }

  &:link,
  &:focus,
  &:hover,
  &:active,
  &:visited,
  &:visited:hover {
    color: $white;
  }
}

@include media-min-width($lap) {
  .btn.lg {
    font-size: 1.25em;
  }
}

.btn.sm {
  font-size: 0.875em;
  padding: 0.25em;
  border-radius: 4px;
  margin: 0;
}

.btn.center {
  display: block;
  margin: 1rem auto 0.5rem;
}

.btn.holo {
  background: transparent;
  border-color: $white;

  &:hover,
  &:focus {
    color: $link-on;
    border-color: $link-on;
    background: transparentize($pink, 0.5);
  }

  &:active {
    color: $pink;
    border-color: $pink;
    background: transparent;
  }
}
