pre,
code {
  @include relative-font-size(0.9375);

  color: $green-lite;
  border: 1px solid $well-ful;
  border-radius: 3px;
  background-color: $well;
}

code {
  padding: 1px 5px;
}

pre {
  padding: 8px 12px;
  overflow-x: auto;

  > code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
  }
}

pre.code {
  padding: 1em;
  background: $muted;
}

/* pre.code code { */
/* } */

blockquote {
  color: $grey-color;
  border-left: 4px solid $grey-color-light;
  padding-left: $spacing-unit / 2;

  @include relative-font-size(1.125);

  letter-spacing: -1px;
  font-style: italic;

  > :last-child {
    margin-bottom: 0;
  }
}
