.dresser {
  position: fixed;
  overflow: visible;
  top: 0;
  left: 0;
  bottom: 0;
  height: 100vh;
  width: auto;
  z-index: 5;
  transition: transform 250ms ease-in-out;
  transform: translate3d(-100%, 0, 0);
}

.dresser.open {
  transform: translate3d(0, 0, 0);
}

.drawer h3 {
  text-align: center;
  margin-top: 1em;
}

@include media-min-height($on-pad) {
  .drawer h3 {
    margin-top: 2em;
  }
}

.drawer {
  position: relative;
  height: 100%;
  min-width: 60vw;
  max-width: 87vw;
  overflow-y: scroll;
  background-color: $well-ful;
  color: $fore;
  padding: 0 1.5rem;
  border-radius: 0 0.5rem 0.5rem 0;
}

.knob {
  position: absolute;
  bottom: 3em;
  right: -1.5em;
  z-index: 20;
  background-color: $well-ful;
  border-radius: 1.5em;
  transition: all 250ms ease-in-out;
}

.knob::before {
  content: "🤓";
  display: block;
  width: 1.5em;
  height: 1.5em;
  font-size: 2em;
  text-align: center;
  animation: whirl 5s infinite linear alternate;
}

.dresser.open .knob {
  border-radius: 0 2.25rem 2.25rem 0;
}

.ctrls {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.spectrum {
  display: flex;
  flex-flow: row wrap;
  /* horiz spacing */
  justify-content: space-between;
  /* vertical alignment */
  align-items: center;
  text-align: right;
  position: relative;
}

.spectrum + .spectrum {
  margin-top: 0.5rem;
}

.spectrum input[type="range"] {
  flex: 3;
  margin: 0 0.5rem;
  height: 1.5rem;
}

.spectrum label {
  text-align: right;
  position: absolute;
  left: 1rem;
  right: auto;
  font-size: 80%;
  display: block;
  flex: 1 0 10%;
}

.spectrum input + label {
  text-align: left;
  right: 1rem;
  left: auto;
}

label.spectrum-name {
  text-align: center;
  flex-basis: 100%;
  display: block;
  font-size: 80%;
  position: relative;
  left: 0;
}

