.trigger {
	border: 4px solid $muted;
	border-radius: 1.5rem;
	cursor: pointer;
	display: block;
	font-size: 150%;
	height: 100%;
	padding: 2rem 1.5rem 1.5rem;
	width: 100%;
	z-index: 1;
}

.folio-logo {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
	height: 100%;
	margin: auto;
	max-height: 100px;
	max-width: 300px;
	pointer-events: none;
	width: 70vw;
}

.folio-name {
	line-height: 0em;
	margin-top: 2rem;
	pointer-events: none;
	text-align: center;
}

.folio-zoom {
	background-color: $bkgd;
	border: 0.25rem solid $bkgd;
	border-radius: 4px;
	color: $fore;
	overflow-y: scroll;
	padding: 1rem;
	text-align: center;
	top: 0;
	z-index: 10;

	&::backdrop {
		backdrop-filter: blur(4px);
		background-color: $shade;
	}

	&[open] {
		animation: appear 500ms ease-in;
		height: 100vh;
		outline: none;
		overflow-y: auto;
		position: fixed;
		width: 100vw;

		@include media-min-width($pad) {
			margin-left: auto;
			margin-right: auto;
			max-width: 80vw;
			width: calc(100vw - 1rem);
		}

		@include media-min-height($pad) {
			height: calc(100vh - 1rem);
			margin-bottom: 1rem;
			margin-top: 1rem;
		}
	}

	h2 {
		text-align: center;
	}

	h3 {
		margin-left: auto;
		margin-right: auto;
		max-width: 37ch;
		text-align: left;
	}

	p {
		max-width: 60ch;
	}

	p,
	h1,
	h2,
	h3,
	h4,
	ul {
		position: relative;
		z-index: 1;
	}

	h4 {
		color: $fore;
	}
}

.jobs {
	align-items: center;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-evenly;
}

.folio-fold {
	align-items: center;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	height: 25vh;
	justify-content: center;
	max-height: calc(100px + 4rem);
	min-height: calc(80px + 4rem);
	position: relative;
}

.split {
	flex: 1 auto;
	margin: 1rem;
	max-width: 37rem;
}

.folio-fold,
.folio-fold::after {
	border-radius: 1.5rem;
}

.folio-fold::after {
	background-color: $shade;
	bottom: 0;
	content: '';
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 0;
}

.gallery {
	align-items: center;
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	margin: 1rem auto;
	max-height: 33vh;
	min-height: 6em;
	overflow-x: auto;
	overflow-y: hidden;

	@include media-min($pad) {
		max-height: 45vh;
		min-height: 12em;
	}

	&:focus {
		outline: none;
	}

	.gallery-item {
		margin: 1em;

		&:first-of-type {
			margin-left: 0;
		}

		&:last-of-type {
			margin-right: 0;
		}

		&.zoomed {
			background: $shader;
			margin: 0;
		}
	}
}

.gallery.portrait {
	max-height: 60vh;
}

.folio-zoom .thumb {
	cursor: pointer;
	flex: 1;

	video,
	img {
		max-width: 100%;
		min-width: 15rem;
		pointer-events: none;

		@include media-min-width($pad) {
			min-width: 20rem;
		}

		@include media-min-width($lap) {
			min-width: 25rem;
		}
	}

	figcaption {
		background: $fore;
		color: $bkgd;
		display: none;
		font-size: 0.875em;
		font-style: italic;
		margin: 1em auto;
		max-width: 60ch;
		padding: 0.5em;
		text-align: justify;
	}

	&.zoomed {
		cursor: default;
		overflow: auto;

		img {
			height: auto;
			max-height: 100vh;
			max-width: 300vw;
		}

		figcaption {
			bottom: -0.4em;
			display: block;
			left: 1em;
			position: fixed;
			right: 1em;
			text-align: center;
		}
	}

	.gallery-item {
		display: flex;
		flex-flow: column nowrap;
	}

	span,
	span:hover {
		color: $white;
		text-decoration: none;
	}
}

.interstitial {
	margin: auto;
	max-height: 40vh;

	@include media-min-width($lap) {
		max-width: 40vw;
	}
}

.video-container {
	margin: auto;
	max-height: 40vh;
	overflow: hidden;
	position: relative;
	width: 100%;

	@include media-min-width($lap) {
		width: 32rem;
	}

	+ figcaption {
		margin-top: 1em;
	}

	&::after {
		content: '';
		display: block;
		padding-top: 56.25%;
	}

	iframe {
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
	}

	.logo-loop {
		height: auto;
		margin: 1rem 0;
		max-width: 100%;
		width: 480px;
	}
}

.btn.picto {
	border-color: transparent;
	padding: 0;
	position: relative;

	&::after {
		background-color: $shady;
		border-radius: 1em;
		bottom: 0;
		content: '';
		left: 0;
		position: absolute;
		right: 0;
		top: 0;
	}

	img {
		border-radius: 1em;
		max-height: 25vh;
	}

	label {
		font-size: 1.25em;
		left: 50%;
		position: absolute;
		top: 50%;
		transform: translate3d(-50%, -50%, 0);
		z-index: 1;
	}
}

/* JOB-SPECIFIC STYLES */

.fold-nameless {
	background-image: url('img/folio/full/nameless-lake.jpg');
}

.logo-nameless {
	background-image: url('img/logos/logo-nameless-white.svg');
}

.fold-cmnplc {
	background-image: url('img/folio/full/cmnplc-dark.jpg');
}

.logo-cmnplc {
	background-image: url('img/logos/logo-commonplace-white.svg');
}

.fold-easeness {
	background-image: url('img/folio/full/easeness-dark-home.jpg');
}

.logo-easeness {
	background-image: url('img/logos/logo-easeness-white.svg');
}

.fold-atmanaut {
	background-image: url('img/folio/full/atmanautus.jpg');
	background-position: top right;
}

.logo-atmanaut {
	background-image: url('img/logos/logo-atmt.png');
}

.fold-passage {
	background-image: url('img/folio/full/passage-3d.jpg');
	background-position: bottom center;
}

.logo-passage {
	background-image: url('img/logos/logo-passage.png');
}

.fold-mandarin9 {
	background-image: url('img/folio/full/mandarin9.jpg');
}

.logo-mandarin9 {
	background-image: url('img/logos/logo-mandarin9.png');
}

.fold-arrivo {
	background-image: url('img/folio/full/arrivo-rail.jpg');
}

.logo-arrivo {
	background-image: url('img/logos/logo-arrivo.png');
}

.fold-scty {
	background-image: url('img/folio/full/scty-roof.jpg');
}

.logo-scty {
	background-image: url('img/logos/logo-scty.png');
}

.fold-disney {
	background-image: url('img/folio/full/disney-bands.jpg');

	.trigger {
		padding: 2rem 1.5rem 1.5rem;
	}
}

.logo-disney {
	background-image: url('img/logos/logo-disney.png');
}

.fold-tville {
	background-image: url('img/folio/full/tville-trumpet.jpg');
	background-position: right center;
}

.logo-tville {
	background-image: url('img/logos/logo-tville.png');
}

.fold-thirdprime {
	background-image: url('img/folio/full/3p-carts.jpg');

	.trigger {
		padding: 2rem 1.5rem 1.5rem;
	}
}

.logo-thirdprime {
	background-image: url('img/logos/logo-thirdprime.png');
}
