::placeholder {
  color: $muted;
}

form {
  text-align: center;

  .field {
    text-align: left;
  }

  label {
    font-size: 87.5%;
  }

  input[type="text"],
  input[type="password"],
  input[type="email"],
  textarea {
    margin-top: 0.25rem;
    padding: 0.5rem;
    font-size: 1rem;
    font-family: $text-font;
    color: $bkgd;
    background: $fore;
    opacity: 0.8;
    border-radius: 0.5rem;
    border: 4px solid $purp;
    transition: all 150ms ease-in-out;

    &:hover {
      background: $fore;
      border-color: $purp-on;
      opacity: 1;
    }

    &:active,
    &:focus {
      background: $white;
      outline-color: $pink-new;
      opacity: 1;
    }
  }
}

.contact form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  .field {
    flex: 1;
    width: 48ch;
    max-width: 80vw;

    & + .field {
      margin-top: 1em;
    }
  }

  input[type="text"],
  textarea {
    width: 100%;
  }
}
