img {
  max-width: 100%;
  vertical-align: middle;
}

figure > img {
  display: block;
}

svg:not(:root) {
  overflow: hidden;
}

.work-zoom figure {
  transition: all 500ms;
}

.work-zoom .zoomed {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  z-index: 22;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  img {
    margin: auto;
    max-width: 90vw;
    max-height: 90vh;
    box-shadow: 0 0 100vw 100vw $glass;

    @include dark-mode {
      box-shadow: 0 0 100vw 100vw $shade;
    }
  }
}

svg.icon {
  display: block;
  fill: $fore;
  pointer-events: none;
  margin: 0.25rem;
}

.foot,
.closer {
  display: block;
  cursor: pointer;
}

.foot > span,
.closer > span {
  position: absolute;
  z-index: 1;
}

.foot > span {
  width: 2rem;
  height: 2rem;
}

.closer,
.closer > span {
  width: 2rem;
  height: 2rem;
}

.closer > span {
  top: 0;
  left: 0;
}

.closer {
  &.corner {
    position: fixed;
    z-index: 24;
    top: 1.5rem;
    right: 1rem;
    background: $shade;
    border-radius: 2rem;
    padding: 3px;
  }

  &:hover {
    background: $bkgd;

    svg.icon {
      fill: $link-on;
    }
  }
}

.gallery .closer {
  z-index: 25;
  display: none;

  &.shown {
    display: block;
  }
}

.framed {
  border: 3px solid $well;
  margin: 1rem;
  border-radius: 0.5rem;
}

.looper {
  max-width: 80vw;
}
