img {
  max-width: 100%;
  vertical-align: middle;
}

figure > img {
  display: block;
}

svg:not(:root) {
  overflow: hidden;
}

.folio-zoom figure {
  transition: all 500ms;
}

.folio-zoom .zoomed {
  align-items: center;
  bottom: 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 22;
}

.zoomed img {
  margin: auto;

  @include media-min($pad) {
    box-shadow: 0 0 100vw 100vw $shade;
    max-height: 90vh;
    max-width: 90vw;
  }
}

.icon {
  display: block;
  margin: 0.25rem;
  pointer-events: none;
}

.icon path {
  fill: $fore;
}

.foot,
.closer {
  cursor: pointer;
  display: block;
}

.foot span,
.closer span {
  position: absolute;
  z-index: 1;
}

.foot .icon,
.foot span {
  height: 2rem;
  width: 2rem;
}

.closer,
.closer span {
  height: 40px;
  width: 40px;
}

.closer .icon {
  height: 20px;
  margin: 7px;
  width: 20px;
}

.closer span {
  left: 0;
  pointer-events: none;
  top: 0;
}

.closer {
  background: $shade;
  border-radius: 2rem;
  padding: 3px;

  &.corner {
    position: fixed;
    right: 10px;
    top: 5px;
    z-index: 24;
    @include media-min($pad) {
      right: 1rem;
      top: 1.5rem;
    }
  }

  &:hover {
    background: $bkgd;

    .icon path {
      fill: $pink-on;
    }
  }
}

.gallery .closer {
  display: none;
  z-index: 25;

  &.shown {
    display: block;
  }
}

.framed {
  border: 3px solid $well;
  border-radius: 0.5rem;
  margin: 1rem;
}

.looper {
  max-width: 80vw;
}

