a {
  color: inherit;
  transition: all 250ms ease-in-out;

  p > & {
    font-weight: normal;
  }

  &:link {
    color: $link-new;

    &:hover {
      color: $link-on;

      svg.icon {
        fill: $link-on;
      }
    }
  }

  &:visited {
    color: $blue;

    svg.icon {
      fill: $blue;
    }

    &:hover {
      color: $link-on;

      svg.icon {
        fill: $link-on;
      }
    }
  }

  &:active {
    color: $pink;

    svg.icon {
      fill: $pink;
    }
  }
}
