a:link {
  color: $link-new;
  transition: 200ms;

  &:hover {
    color: $link-on;
  }

  &:hover svg.icon {
    fill: $link-on;
  }

  &:visited {
    color: $link-old;
  }

  &:visited svg.icon {
    fill: $link-old;
  }

  &:visited:hover {
    color: $link-new;
  }

  &:visited:hover svg.icon {
    fill: $link-new;
    transition: 200ms;
  }
}
