ul, ol {
  margin-left: $spacing-unit;
}

li {
  > ul,
  > ol {
    margin-bottom: 0;
  }
}

ul.reset {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

ul.links,
ul.pros,
ul.pills {
  @extend ul, .reset;
}

ul.links a::before {
  content: "🔗\00a0";
  text-decoration: none;
}

ul.pros li {
  font-family: $text-font;
}

ul.pills li {
  display: inline-block;
  color: $purp;
  background: $green-lite;
  font-size: 0.875em;
  line-height: 1.25;
  border-radius: 0.25em;
  padding: 0.25em 0.5em;
  margin: 0.25em 0.5em;
}

// ul.links { }

.identity-list > li:first-child {
  color: $muted;
  border-right: 2px dotted $muted;
}

.work-lists {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;

  .work-list {
    max-width: 22rem;
  }
}
