li {
  > ul,
  > ol {
    margin-bottom: 0;
  }
}

ul,
ol {
  margin-left: $spacing-unit;

  &.reset {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  &.details {
    text-align: left;
    margin: auto;
    padding-left: 2em;
    max-width: 60ch;
    font-family: $text-font;
  }

  &.links,
  &.pros,
  &.header-nav,
  &.pills {
    @extend ul, .reset;

    text-align: center;
  }

  &.links a::before {
    content: "🔗\00a0";
    text-decoration: none;
  }

  &.pros li {
    font-family: $text-font;
  }

  &.pills li {
    display: inline-block;
    font-size: 0.875em;
    font-weight: bold;
    line-height: 1.25;
    border-radius: 0.25em;
    padding: 0.25em 0.5em;
    margin: 0.25em 0.5em;
    color: $well;
    background: $green-new;
    border-width: 2px;
    border-style: solid;
    border-color: $green;
  }
}
.header-nav {
  display: inline-block;
  position: relative;
  z-index: 2;
  a {
    display: block;
    padding: 0.25em 0.5em;
    color: $fore;

    &:hover {
      background: $well;
    }

    &.active {
      font-weight: bolder;
      color: $pink-new;
    }
  }
}

.work-list {
  max-width: 75%;
  margin: auto;
}

.work-lists {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;

  .work-list {
    max-width: 22rem;
  }
}
