.site-header {
  position: sticky;
  top: 1rem;
  margin-bottom: 1rem;
  z-index: 4;

  a.site-title {
    color: $fore;
    font-weight: bolder;
    font-family: $heading-font;
  }
}

.site-header,
.site-footer {
  nav {
    background-color: $well;
    padding: 0.5rem 1rem;
    transition: all 250ms;
    border-radius: 1em;

    &:hover {
      background-color: $well-ful;
    }
  }

  ul {
    list-style: none;
    padding-inline-start: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 0;
    margin: 0;
  }

  a {
    text-decoration: none;
  }
}

.site-footer {
  position: relative;
  color: $fore;
  font-size: 67%;
  font-weight: bolder;
  z-index: 1;
  bottom: 1rem;
  margin: 2em 0 0;

  svg,
  img {
    height: 2rem;
    width: 2rem;
  }

  a:link {
    height: 100%;
    width: 100%;
    padding: 0 0.75rem;
  }
}

.legalese,
.blob p.legalese {
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 0;
}

.copyleft {
  display: inline-block;
  transform: rotateY(180deg);
}

.spectre {
  height: 0;
  visibility: hidden;
}

.elevator-button {
  position: relative;
  display: block;
  margin: 2rem auto;
  width: 3rem;
  height: 3rem;
  cursor: n-resize;
  background: $well;
  border-radius: 1em;
  padding: 0.5rem;

  svg.icon,
  & > span {
    width: 2rem;
    height: 2rem;
  }

  & > span {
    position: absolute;
    top: 0;
    left: 0;
    width: 2rem;
    height: 2rem;
    margin: 0.5rem;
  }

  svg.icon {
    transition: all 150ms;
    margin: 0 auto;
  }

  &:hover {
    color: $blue;
    background: $well-ful;

    svg.icon path {
      fill: $blue;
    }
  }
}

