.site-header,
.site-footer {
  nav {
    background-color: $well;
    transition: all 150ms;

    &:hover {
      background-color: $well-ful;
    }
  }

  ul {
    list-style: none;
    padding-inline-start: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 0;
    margin: 0;
  }

  a {
    text-decoration: none;
  }
}

.site-header {
  // position: -webkit-sticky;
  // position: sticky;
  // top: -2.5rem;
  margin: 0 -0.8em;
  z-index: 3;

  nav {
    padding: 0 0.4em 0.4em;
  }

  @include media-min-width($palm) {
    margin: 1em 0 0;

    nav {
      padding: 0.5em 1em 1em;
      border-radius: 1em;
    }
  }

  .home-node {
    flex-basis: 100%;
  }

  @include media-min-width($pad) {
    top: 0;

    nav {
      padding: 0.5em 1em;
    }

    .home-node {
      flex-basis: auto;
    }
  }

  @include media-min-width($lap) {
    .home-node,
    .nav-node {
      margin: 0 0.35em;
    }
    .home-node {
      margin-left: auto;
    }
    .nav-node:last-of-type {
      margin-right: auto;
    }
  }

  .home-link {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 0;
  }

  .home-link,
  .nav-link {
    border-radius: 0.5em;
  }

  .site-title {
    font-family: $heading-font;
  }

  .site-logo {
    svg.icon,
    span {
      height: 2.22em;
      width: 2.22em;
    }
  }
}

.site-footer {
  position: relative;
  color: $fore;
  font-size: 67%;
  font-weight: bolder;
  z-index: 1;
  bottom: 1rem;
  margin: 2em 0 0;
  width: 100vw;

  nav {
    padding: 1em 0;
  }

  @include media-min-width($palm) {
    width: auto;
    nav {
      border-radius: 1em;
      padding: 0.5em 1em;
    }
  }

  svg,
  img {
    height: 2rem;
    width: 2rem;
  }

  a {
    height: 100%;
    width: 100%;
    padding: 0 1em;
  }

  .legalese a {
    padding: 0 0.5em;
  }
}

.legalese,
.blob p.legalese {
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 0;
}

.copyleft {
  display: inline-block;
  transform: rotateY(180deg);
}

.spectre {
  height: 0;
  visibility: hidden;
}

.elevator-button {
  position: relative;
  display: block;
  margin: 2rem auto;
  width: 3rem;
  height: 3rem;
  cursor: n-resize;
  background: $well;
  border-radius: 1em;
  padding: 0.5rem;

  svg.icon,
  & > span {
    width: 2rem;
    height: 2rem;
  }

  & > span {
    position: absolute;
    top: 0;
    left: 0;
    width: 2rem;
    height: 2rem;
    margin: 0.5rem;
  }

  svg.icon {
    transition: all 150ms;
    margin: 0 auto;
  }

  &:hover {
    color: $blue;
    background: $well-ful;

    svg.icon path {
      fill: $blue;
    }
  }
}
