.poem {
    text-align: center;
}

.poem h1 {
    font-size: 1rem;
    font-weight: bolder;
}

.poem h2 {
    font-size: 1rem;
    font-weight: bold;
    font-style: italic;
}

.poem .post-title {
    display: none;
}
