.post .headline {
  margin-top: 0;
}

.post.blob {
  display: block;

  h2 {
    max-width: 27ch;
  }

  ul,
  ol,
  table {
    max-width: 60ch;
    padding-left: 2rem;
    text-align: left;
  }

  h1,
  h2,
  h3,
  ul,
  ol,
  table {
    margin-left: auto;
    margin-right: auto;
  }

  hr {
    background: $link-on;
    border: 0;
    border-radius: 100%;
    height: 2px;
    margin: 2rem auto;
    width: 80%;

  }
}

.link-row {
  align-items: baseline;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.blob .post-meta {
  text-align: right;
}

#kerry-snyder { /* stylelint-disable-line selector-max-id */
  margin-bottom: 0;
}
