table {
  border: 1px solid $purp;
  border-collapse: collapse;
  color: $text-color;
  margin-bottom: $spacing-unit;
  text-align: $table-text-align;
  width: 100%;

  tr {
    &:nth-child(even) {
      background-color: lighten($purp-old, 6%);
    }
  }

  th,
  td {
    padding: ($spacing-unit / 3) ($spacing-unit / 2);
  }

  th {
    background-color: $purp-old;
    border: 1px solid $purp-new;
    border-bottom: 3px solid $purp;
  }

  td {
    border: 1px solid $purp;
  }
}
