// absolute variables first
$sans: 'Lato', system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol' !default;
$serif: 'Aleo', Georgia, serif;
$display-font: 'Righteous', 'Comic Sans MS', cursive;
$fore: hsl(196, 87%, 92%);
$bkgd: hsl(262, 85%, 12%);
$well: hsla(262, 89%, 21%, 0.7);
$well-ful: hsla(262, 89%, 16%, 0.85);
$purp: hsl(262, 81%, 47%);
$purp-on: hsl(262, 80%, 70%);
$purp-old: hsl(262, 70%, 50%);
$purp-new: hsl(262, 85%, 60%);
$blue: hsl(196, 80%, 43%);
$link-on: hsl(196, 80%, 70%);
$link-old: hsl(196, 70%, 50%);
$link-new: hsl(196, 85%, 60%);
$pink: hsl(302, 80%, 43%);
$pink-on: hsl(302, 80%, 70%);
$pink-old: hsl(302, 70%, 50%);
$pink-new: hsl(302, 85%, 60%);
$green: hsl(87, 80%, 43%);
$green-on: hsl(87, 80%, 70%);
$green-old: hsl(87, 70%, 50%);
$green-new: hsl(87, 85%, 60%);
$white: hsl(0, 0%, 98%);
$black: hsl(262, 0%, 2%);
$mute: hsl(195, 10%, 50%);
$mute-lite: hsl(195, 10%, 75%);
$muted: hsla(196, 10%, 50%, 0.5);
$shader: hsla(262, 43%, 10%, 0.9);
$shade: hsla(262, 43%, 10%, 0.7);
$shady: hsla(262, 43%, 10%, 0.3);

// then relative variables, define defaults for each

$base-font-family: $sans !default;
$base-font-size: 20px !default;
$small-font-size: $base-font-size * 0.875 !default;
$base-font-weight: 400 !default;
$base-line-height: 1.5 !default;

$spacing-unit: 2rem !default;

$text-color: $fore !default;
$background-color: $bkgd !default;
$brand-color: $purp !default;

$grey-color: $mute !default;
$grey-color-light: lighten($grey-color, 40%) !default;
$grey-color-dark: darken($grey-color, 25%) !default;

$table-text-align: left !default;

$palm: 25rem !default;
$pad: 40rem !default;
$lap: 60rem !default;

// store some color-scheme variables in the :root
// $accent-color: #fbbc04;

// :root {
//   // WRONG, will not folio in recent Sass versions.
//   // --accent-color-wrong: $accent-color;
//   // RIGHT, will folio in all Sass versions.
//   // --accent-color-right: #{$accent-color};
//   color-scheme: light dark; /* both supported */
// }
