.unfolder {
  display: block;
  width: 100%;
  height: 100%;
  padding: 1.5rem;


  padding: 2rem 1.5rem 1.5rem;
  z-index: 1;
  font-size: 150%;
  border: 4px solid $muted;
  border-radius: 1.5rem;
}

.work-logo {
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 100%;
  max-height: 100px;
  width: 70vw;
  max-width: 300px;
  z-index: 4;
  margin: auto;

  // &.word-mark {
  //   font-family: $heading-font;
  //   line-height: 1.5;
  //   text-decoration: none;
  //   letter-spacing: 2px;
  //   text-align: center;
  //   text-transform: uppercase;
  //   color: $white;
  // }
}

@include media-min-width($on-pad) {
  .unfolder.shown {
    letter-spacing: 0.5em;
  }
}

.work-zoom {
  overflow-y: scroll;
  margin: 1rem;
  padding: 1rem;
  top: 0;
  color: $fore;
  border: 0.25rem solid $glass;
  border-radius: 1.5rem;
  background-color: $shade;
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;

  &::backdrop {
    background-color: $shade;
    backdrop-filter: blur(3px);
  }

  // &::after {
  //   content: "";
  //   background: $shade;
  //   position: fixed;
  //   display: block;
  //   height: 100%;
  //   width: 100%;
  //   top: 0;
  //   right: 0;
  //   bottom: 0;
  //   left: 0;
  //   z-index: 0;
  // }

  &[open] {
    position: fixed;
    height: calc(100vh - 2rem);
    max-width: 80vw;
    overflow-y: auto;
    margin-left: auto;
    margin-right: auto;
    outline: none;
  }

  video {
    z-index: 2;
  }

  h2 {
    text-align: center;
  }

  h3 {
    text-align: left;
    max-width: 37ch;
    margin-left: auto;
    margin-right: auto;
  }

  p,
  h1,
  h2,
  h3,
  h4,
  ul {
    position: relative;
    z-index: 1;
  }

  h4 {
    margin: 1em auto;
    color: $fore;
    text-transform: uppercase;
    margin-bottom: 1px solid inherit;
    text-decoration: underline;
    letter-spacing: 2px;
    line-height: 1.25;
  }
}

.closer {
  width: 2rem;
  height: 2rem;

  &.corner {
    z-index: 2;
    position: fixed;
    top: 2.5rem;
    right: 1.5rem;
  }

  svg {
    fill: $white;

    &:hover {
      fill: $link-on;
    }
  }
}

.jobs {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
}

.work-fold {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25vh;
  min-height: calc(80px + 4rem);
  max-height: calc(100px + 4rem);
}

.split {
  flex: 1 auto;
  max-width: 37rem;
  margin: 1rem;
}

.work-fold,
.work-fold::after {
  border-radius: 1.5rem;
}

.work-fold::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: $shade;
  z-index: 0;
}

.gallery {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  overflow-x: auto;
  overflow-y: hidden;
  max-height: 33vh;
  height: 6em;
  margin: 1rem auto;

  @include media-min($on-pad) {
    height: 10em;
  }
}

a.btn.picto {
  position: relative;
  padding: 0;

  &::after {
    background-color: $shade;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 1em;
  }

  img {
    border-radius: 1em;
    max-height: 25vh;
  }

  label {
    position: absolute;
    font-size: 1.25em;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
  }
}

.thumb {
  flex: 1;

  & + .thumb {
    margin-left: 0.5rem;
  }

  img {
    min-width: 15rem;
    max-width: 100%;
  }

  span,
  span:hover {
    text-decoration: none;
    color: $white;
  }
}

.looper,
.work-zoom img {
  max-height: 40vh;
  max-width: 40vw;
}

/* JOB-SPECIFIC STYLES */

.fold-atmanaut {
  background-position: top right;
  background-image: url('img/work/atmanautus.jpg');
}

.logo-atmanaut { background-image: url('img/logos/logo-atmt.png'); }

.fold-passage {
  background-image: url('img/work/passage-3d.jpg');
  background-position: bottom center;
}

.logo-passage { background-image: url('img/logos/logo-passage.png'); }

.fold-mandarin9 {
  background-image: url('img/work/mandarin9.jpg');
}

.logo-mandarin9 { background-image: url('img/logos/logo-mandarin9.png'); }

.fold-arrivo {
  background-image: url('img/work/arrivo-rail.jpg');
}

.logo-arrivo { background-image: url('img/logos/logo-arrivo.png'); }

.fold-scty {
  background-image: url('img/work/scty-roof.jpg');
}

.logo-scty { background-image: url('img/logos/logo-scty.png'); }

.fold-disney {
  background-image: url('img/work/disney-bands.jpg');

  .unfolder {
    padding: 2rem 1.5rem 1.5rem;
  }
}

.logo-disney { background-image: url('img/logos/logo-disney.png'); }

.fold-tville {
  background-image: url('img/work/tville-trumpet.jpg');
  background-position: right center;
}

.logo-tville { background-image: url('img/logos/logo-tville.png'); }

.fold-thirdprime {
  background-image: url('img/work/3p-carts.jpg');

  .unfolder {
    padding: 2rem 1.5rem 1.5rem;
  }
}

.logo-thirdprime { background-image: url('img/logos/logo-thirdprime.png'); }
