<li id="mandarin9" class="work-fold split fold-mandarin9">
  <a class="trigger">
    <div class="work-logo logo-mandarin9"></div>
  </a>
  <dialog class="work-zoom">
    {%- include closer.html content='m9-closer' -%}
    <div class="work-logo logo-mandarin9"></div>
    <h3>Offering the western world an entertaining way to learn Mandarin</h3>
    <div class="gallery">
      {%- include closer.html content='m9-thumb-closer' -%}
      {%- include image.html file='m9-products.jpg' caption='We laid out a
      multi-approach, multimedia product line' link='' -%}
      <figure class="thumb gallery-item">
        <img
          class="lazy gallery-image"
          src="/assets/img/work/pre/m9-assemble.png"
          data-src="/assets/img/work/full/m9-assemble.webp"
          alt=""
          />
        <noscript>
        <img
          src="/assets/img/work/full/m9-assemble.webp"
          alt="{{ include.caption }}"
          />
        </noscript>
        <figcaption class=gallery-caption>Mandarin9 under construction</figcaption>
      </figure>
      {%- include image.html file='huashan.jpg' caption='A peak at Huashan' link="" -%}
    </div>
    <p>Learning Mandarin as an adult is no small feat. At the very least it
      can be entertaining. We did our best to bring an effective,
      engaging Mandarin language-learning platform to the West.</p>
    <div class="work-list">
      <h4>Roles</h4>
      <ul class="pills">
        <li>Consulting</li>
        <li>Prototyping</li>
        <li>User Personas</li>
        <li>Tech Strategy</li>
        <li>Wordpress</li>
      </ul>
    </div>
  </dialog>
</li>
