<li id="thirdprime" class="work-fold split fold-thirdprime">
  <a class="trigger" data-trigger="thirdprime">
    <div class="work-logo logo-thirdprime"></div>
  </a>
  <dialog class="work-zoom" data-modal="thirdprime">
    {%- include closer.html content="thirdprime" -%}
    <div class="work-logo logo-thirdprime"></div>
    <h3>Inspired by nature, designing with compassion</h3>
    <p>Four talented, ambitious industrial designers and yours truly teamed up
      during the Not-So-Great Recession to bring some healing and humor to the
      world.</p>
    <div class="gallery tall">
      {%- include closer.html content='3p-thumb-closer' -%}
      {%- include image.html file='3p-web.png' caption='Once the homepage of ThirdPrime.com' link="" -%}
      {%- include image.html file='3p-sketch.jpg' caption='A design sketch of the wave maker for the HHH Cart' link="" -%}
      {%- include image.html file='3p-bin.jpg' caption='The HHH Cart stream bin mid-fabrication' link="" -%}
      {%- include image.html file='3p-cart.jpg' caption='A flowing stream experience on the HHH Cart' link="" -%}
      {%- include image.html file='3p-carts.jpg' caption='Hope and Healing Hands carts in fabrication' link="" -%}
    </div>
    <p>Supported by Hope Through Healing Hands, our Nature Cart delivers a
      safe, fun, sterile experience of nature to hospital-bound children whose
      health is too compromised to allow them to safely play outside.</p>
    <p>We were nearly kids at the time, I was a newly minted attorney, and we
      learned many things the hard way in this first take at entrepreneurship.</p>
    <figure>
      <div class="video-container">
        <iframe src="https://www.youtube.com/embed/9W4yHptSizw?controls=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
      <figcaption>A tour of the <a
          href="https://www.hopethroughhealinghands.org/our-work"
          target="_blank">Hope Through Healing Hands</a> Nature cart in operation in a North Carolina children's hospital.</figcaption>
    </figure>
    <div class="work-lists">
      <div class="work-list">
        <h4>Products</h4>
        <ul class="pros">
          <li>Hope and Healing Hands Nature Cart</li>
          <li>Wobl, an iPhone alarm clock</li>
          <li>Golden Games</li>
          <li>Antler olive picks</li>
          <li>Bosch dishwasher</li>
        </ul>
      </div>
    </div>
  </dialog>
</li>
