<h2>🌈 We evolve culture with technology ⚗️ </h2>
<p>The methodologies I champion for life and work are on the rise:
  <ul class="details">
    <li>radical anti-oppression, radical empathy, and radical honesty,</li>
    <li>decentralized, distributed, remote, asynchronous collaboration</li>
    <li>functional, reactive, paired programming of agile, lean MVPs</li>
    <li>progressive engagement, rapid prototyping, declarative data graphs</li>
    <li>continuous improvement, systems thinking, complexity science</li>
    <li>the primacy of consciousness, the law of attraction, satchitananda</li>
  </ul>
</p>
<h3>Sharpen the <a
  href="https://quoteinvestigator.com/2014/03/29/sharp-axe/">axe</a>, then plant
trees instead.</h3>
<p>Concretely speaking, I like to use JavaScript, HTML, CSS and data in their
  manifold forms to rapidly prototype and test concepts and designs with the
  users they are intended to benefit. My benefactors and clients range widely
  among grassroots passion projects, pre-seed rookies, venture-backed startups,
  small and medium businesses, and city-sized multi-national corporations. I can design the journey, develop the full stack, or play any of the many composite roles contained within these as needed.</p>
<p>If you would like to enlist my services, <a href="/contact">drop me a line</a>.</p>
<hr>

{%- include tools.html -%}

<h3>🙏 Gratitude 💫</h3>
<p>… for the panorama of opportunities my career, adventures, and studies
  provide me, opportunities to be of service to humanity and to our Lover Nature.
  And while I recognize that we do not yet inhabit the more beautiful world
  our hearts know is possible, I devote myself to the garden.</p>

<h3>See Also</h3>
<p>If I'm not camped out here in my <a href="/daily">virtual office</a>, you can find me around the way:</p>
<ul>
  <li>Making <a href="https://nameless.easeness.biz">Nameless</a></li>
  <li>Curating <a href="https://commonplace.atmanaut.me">Commonplace</a></li>
  <li>Creating <a href="https://easeness.biz">Easeness</a></li>
  <li>Being <a href="https://atmanaut.me">Atmanaut</a></li>
  <li>As <code>krry</code> on <a href="https://github.com/krry">Github</a> and <a href="https://dev.to/krry">Dev.to</a></li>
  <li>As <code>Kerrbear</code> in the <a href="https://world.hey.com/kerrbear">HEY World</a></li>
  <li>As <code>Kerry Snyder</code> on <a href="https://linkedin.com/kerrysnyder">Linkedin</a></li>
</ul>
