<h2>🌈 We evolve culture with technology ⚗️ </h2>
<p>The methodologies we champion for life and work are on the rise:
  <ul class="details">
    <li>radical anti-oppression, radical empathy, and radical honesty,</li>
    <li>decentralized, distributed, remote, asynchronous collaboration</li>
    <li>functional, reactive, paired programming of agile, lean MVPs</li>
    <li>progressive engagement, rapid prototyping, declarative data graphs</li>
    <li>continuous improvement, systems thinking, complexity science</li>
    <li>the primacy of consciousness, the law of attraction, satchitananda</li>
  </ul>
</p>
<h3>Sharpen the <a
  href="https://quoteinvestigator.com/2014/03/29/sharp-axe/">axe</a>, then plant
trees instead.</h3>
<p>Concretely speaking, we like to use JavaScript, HTML, CSS and data in their
  manifold forms to rapidly prototype and test concepts and designs with the
  users they are intended to benefit. Our benefactors and clients range widely
  among grassroots passion projects, pre-seed rookies, venture-backed startups,
  small and medium businesses, and city-sized multi-national corporations. For
  our part, we can design the whole journey, and develop
  the full stack, or play any of these many composite roles as needed.</p>
<p>If you would like to enlist our services, <a href="/contact">drop us a line</a>.</p>
<hr>

{%- include tools.html -%}

<h3>🙏 Gratitude 💫</h3>
<p>… for the panorama of opportunities our career, adventures, and studies
  provide us, opportunities to be of service to humanity and to our Lover Nature.
  And while we recognize that we do not yet inhabit the more beautiful world
  our hearts know is possible, we devote ourself to the garden.</p>
