<h2>🌈 Evolving culture with technology ⚗️ </h2>
<p>I celebrate and champion the rise of the methodologies and movements that guide us toward harmony, that help us respond to change durably, and that put well-being before progress, and real before ideal.
  <ul class="details">
    <li>radical anti-oppression, radical empathy, and radical&nbsp;honesty,</li>
    <li>decentralized, distributed, remote, asynchronous&nbsp;collaboration</li>
    <li>functional, reactive, paired programming of agile, lean&nbsp;MVPs</li>
    <li>progressive engagement, rapid prototyping, declarative&nbsp;graphs</li>
    <li>continuous improvement, systems thinking, complexity&nbsp;science</li>
    <li>primacy of consciousness, law of attraction, sat•chit•ananda</li>
  </ul>
</p>
<h3>Sharpen the <a
  href="https://quoteinvestigator.com/2014/03/29/sharp-axe/">axe</a>, then plant
trees instead.</h3>
<p>Concretely speaking, I like to use JavaScript, HTML, CSS and data in their
  manifold forms to rapidly prototype and test concepts and designs with the
  users they are intended to benefit. My benefactors and clients range widely
  among grassroots passion projects, pre-seed rookies, venture-backed startups,
  small and medium businesses, and city-sized multi-national corporations. I can design the journey, develop the full stack, or play any of the many composite roles contained within these as needed.</p>
<p>Though I'm juggling a number of projects at the moment, I'd love to hear from you. If anything here strikes your fancy or grinds your gears, <a href="/contact">drop me a line</a>.</p>
<hr />

{%- include tools.html -%}

<h3>🙏 Gratitude 💫</h3>
<p>… for the panorama of opportunities my career, adventures, and studies
  provide me, opportunities to be of service to humanity and to our Lover Nature.
  And while I recognize that we do not yet inhabit the more beautiful world
  our hearts know is possible, I devote myself to the garden.</p>

<h3>Who is krry?</h3>
<div class="gallery portrait">
  {%- include	image.html file='krry.jpeg'
      caption='Blip blop'
      link='https://github.com/krry' -%}
</div>
<p>In the default world, they call me <a href="https://linkedin.com/kerrysnyder">Kerry Snyder</a>.  My fram calls me <a href="https://world.hey.com/kerrbear">Kerrbear</a>.  If I'm not camped out here in my <a href="/daily">virtual office</a>, you'll find me making <a href="https://nameless.quest">Nameless</a>, curating <a href="https://kerrbear.wtf">Commonplace</a>, creating <a href="https://easeness.biz">Easeness</a>, being <a href="https://atmanaut.me">Atmanaut</a>, and of course, shipping <code>teh codez</code> as <a href="https://github.com/krry">krry</a></p>
