<h3>Like a moth to a flow state</h3>
<p class="blurb">
  I design and develop experiences, systems, flows, software, and applications that are shaped by
  the demonstrated needs and preferences of real users and customers. Rooted in complexity theory,
  systems thinking, and radical empathy, I try to surf the crest of the wave of innovation, applying
  the latest technology to our most pressing challenges.
</p>
<!-- TODO: preserve scrollTop of window while showing dialogs -->
<ul class="reset jobs">
  {%- include folio/solarcity.html -%}
  {%- include folio/arrivo.html -%}
  {%- include folio/disney.html -%}
  {%- include folio/tville.html -%}
  {%- include folio/atmanautica.html -%}
  {%- include folio/easeness.html -%}
  {%- include folio/passage.html -%}
  {%- include folio/commonplace.html -%}
  {%- include folio/mandarin9.html -%}
  {%- include folio/nameless.html -%}
  {%- include folio/thirdprime.html -%}
</ul>

<p>
  Feel free to take
  <a href="/assets/files/Kerry-Snyder-CV-2021.pdf" download="Kerry-Snyder-CV-2021.pdf">a copy</a>
  of my
  <a href="/cv">C.V.</a>
</p>
