<p>We're equal parts quick study and diehard idealist, jacks of all trades
  on the paths to mastery. We are beaming with gratitude for the panorama of
  opportunities our career, adventures, and studies provide us, opportunities
  to be of service to humanity and to our Lover Nature. And while we
  recognize that we do not yet inhabit the more beautiful world our hearts
  know is possible, we devote ourself to the garden. We are drawn to
  magnanimous, equanimous efforts that help us give ourselves and the Earth
  back to nature.</p>
<p>If you would like to enlist our services, please <a href="/contact">send
    a note to Kerry</a>.</p>
