<section name="about" class="blob about">
  <h1 class="bloob purp50">Aboutmanaut</h1>
  <p>My name is Kerry. I'm a quick study and an indefatigable idealist. I am
    beaming with gratitude for the panorama of opportunities my career,
    adventures, and studies provide me, opportunities to be of service to
    humanity and to our Lover Nature. And while I recognize that we do not yet
    inhabit the more beautiful world our hearts know is possible, I devote
    myself to the garden. I am attracted to magnanimous, equanimous efforts
    that help us give ourselves and the Earth back to nature.</p>
  <p>If you'd like an overview, take <a href="{{ '/assets/files/CV-Kerry-Snyder-2020.pdf' }}">a copy of my C.V.</a></p>
  <p>If you would like to enlist my services, please <a href="#contact">reach
      out</a>.</p>
  <hr>
  <h2>Request a Poem</h2>
  <p>I would <b>LOVE 💝</b> to write a poem for you. If you want this too,
    please <a href="mailto:kerry@atmanaut.me">send me a prompt</a>. Perhaps an image that gets you right in the feels. Better still send me a story, a dream, a feeling, or an experience you rarely share but will never forget. My social deets are <a href="#bottom">down there</a>, and the contact form is <a href="#contact">up there</a>.</p>
</section>
