<div class="button-row">
  <a href="/daily" class="btn holo lg">Now via Daily</a>

  <!-- X.ai embed -->
  <iframe
    src="https://calendar.x.ai/atmanaut/call"
    style="border: 0; min-height: 600px; width: 100%"
    scrolling="auto"
  ></iframe>
  <!-- x.ai embed end -->

  <!-- Calendly link widget begin -->
  <link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet" />
  <script
    src="https://assets.calendly.com/assets/external/widget.js"
    type="text/javascript"
  ></script>
  <a
    href=""
    class="btn holo lg"
    onclick="Calendly.initPopupWidget({url: 'https://calendly.com/atmanaut/office-hours?background_color=5e17d9&text_color=ffffff&primary_color=a2f042'});return false;"
    >Later via Calendly</a
  >
  <!-- Calendly link widget end -->
</div>
