<section id="contact" class="blob contact">
  <h1 class="bloor25 bloob">Get in Touch</h1>
  <form
    action="https://formspree.io/mgenlrlw"
    method="POST"
    >
    <label>
      Your email:
      <input type="text" name="_replyto" placeholder="ramona@quimby.fam">
    </label>
    <label>
      Your message:
      <textarea name="message" placeholder="I adore you" rows="5"></textarea>
    </label>

    <!-- your other form fields go here -->

    <button type="submit" class="btn lg center">Make Contact</button>
  </form>
</section>
