<section id="contact" class="blob contact">
  <h1 class="purp33 bloob">Get in Touch</h1>
  <form
    action="https://formspree.io/mgenlrlw"
    method="POST"
    >
    <div class="field">
      <label for="_replyto"> Your email: </label>
      <input type="text" name="_replyto" placeholder="ramona@quimby.fam">
    </div>
    <div class="field">
      <label for="message"> Your message: </label>
      <textarea name="message" placeholder="I adore you" rows="5"></textarea>
    </div>

    <!-- your other form fields go here -->

    <button type="submit" class="btn lg center">Make Contact</button>
  </form>
</section>
