<div class="hidden dresser" id="dresser">
  <div class="knob" id="knob"></div>
  <aside id="drawer" class="drawer">
    <h3>Astral Playne</h3>
    <section class="ctrls">
      <div class="spectrum">
        <label for="mentality" class="spectrum-name">Mentality</label>
        <label for="one">One</label>
        <input id="mentality" type="range" min="1" max="100" />
        <label for="all">All</label>
      </div>
      <div class="spectrum">
        <label for="correspondence" class="spectrum-name">Correspondence</label>
        <label for="below">Below</label>
        <input id="correspondence" type="range" min="1" max="1000" />
        <label for="above">Above</label>
      </div>
      <div class="spectrum">
        <label for="vibration" class="spectrum-name">Vibration</label>
        <label for="lo">Lo</label>
        <input id="vibration" type="range" min="1" max="100" />
        <label for="hi">Hi</label>
      </div>
      <div class="spectrum">
        <label for="polarity" class="spectrum-name">Polarity</label>
        <label for="negative">Negative</label>
        <input id="polarity" type="range" min="1" max="100" />
        <label for="positive">Positive</label>
      </div>
      <div class="spectrum">
        <label for="rhythm" class="spectrum-name">Rhythm</label>
        <label for="order">Order</label>
        <input id="rhythm" type="range" min="1" max="100" />
        <label for="chaos">Chaos</label>
      </div>
      <div class="spectrum">
        <label for="causation" class="spectrum-name">Causation</label>
        <label for="hard">Hard</label>
        <input id="causation" type="range" min="20" max="200" />
        <label for="soft">Soft</label>
      </div>
      <div class="spectrum">
        <label for="gender" class="spectrum-name">Gender</label>
        <label for="yang">Yang</label>
        <input id="gender" type="range" min="1" max="100" />
        <label for="yin">Yin</label>
      </div>
    </section>
    <button class="btn holo center" id="play_all">Play all</button>
    <label for="filter_ctrl" class="select-menu-name">
      <select class="btn holo center" name="filters" aria-label="apply filter" id="filter_ctrl">
        <option value="default">Theme</option>
        <option value="kodachrome">Alice</option>
        <option value="sepiatone">Sepia</option>
        <option value="grayscale">Grey</option>
        <option value="negative">Surge</option>
        <option value="volcano">Lava</option>
        <option value="xray">Ɣamma</option>
        <option value="arctic">Burn</option>
        <option value="jungle">Jung</option>
        <option value="ghost">Geist</option>
      </select>
    </label>
  </aside>
</div>
