<footer class="site-footer" id="footer">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>
  <nav>
    <ul class="identity-list">
      <li><a class="foot" href="//atmanaut.us" name="atmanaut.us">
          <span></span> {%- include svg/bloob.svg -%} </a></li>
      <li><a href="https://github.com/krry" name="github" class="foot">
          <span></span> {%- include svg/octocat.svg -%} </a></li>
      <li><a class="foot" href="https://codepen.io/krry">
          <span></span> {%- include svg/codepen.svg -%} </a></li>
      <li><a class="foot" name="goodreads" href="https://www.goodreads.com/user/show/5458903-kerry">
          <span></span> {%- include svg/goodreads.svg -%} </a></li>
      <li><a class="foot" name="instagram" href="https:/instagram.com/atmanaut">
          <span></span> {%- include svg/instagram.svg -%} </a></li>
      <li><a class="foot" name="medium" href="https://medium.com/@atmanaut">
          <span></span> {%- include svg/medium.svg -%} </a></li>
      <li><a class="foot" href="https://linkedin.com/in/kerrysnyder">
          <span></span> {%- include svg/linkedin.svg -%} </a></li>
      <li><a class="foot" name="twitter" href="https://twitter.com/anatmanaut">
          <span></span> {%- include svg/twitter.svg -%} </a></li>
    </ul>
  </nav>
  <p class="legalese">
    Yet Another Dry Run Production <br>
    <span class="copyleft">©</span> 2020
    <a href="https://fullsmile.monster">Full Smile Monster</a><br>
    🌮 🍕 🍔 🍦 💧 🔥 🌈 🍄 🌚 🐲 🌬<br></p>
  <div name="bottom" class="elevator-button">
    <span></span> {%- include svg/elevator.svg -%} </div>
  <span id="eb" class="spectre"></span>
</footer>
