<footer class="site-footer" id="footer">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>
  <nav>
    <ul class="identity-list">
      <li>
        <a class="foot" href="https://github.com/atmanautica">
          <span></span>
          <svg class="icon"><use xlink:href="#icon-octocat" /></svg>
        </a>
      </li>
      <li>
        <a class="foot" href="https://twitter.com/anatmanaut">
          <span></span>
          <svg class="icon"><use xlink:href="#icon-tw" /></svg>
        </a>
      </li>
      <li>
        <a class="foot" href="https://www.goodreads.com/user/show/5458903-kerry">
          <span></span>
          <svg class="icon"><use xlink:href="#icon-goodreads" /></svg>
        </a>
      </li>
      <li>
        <a class="foot" href="https://medium.com/@atmanaut">
          <span></span>
          <svg class="icon"><use xlink:href="#icon-medium" /></svg>
        </a>
      </li>
      <li>
        <a class="foot" href="https://codepen.io/krry">
          <span></span>
          <svg class="icon"><use xlink:href="#icon-codepen" /></svg>
        </a>
      </li>
      <li>
        <a class="foot" href="https:/instagram.com/atmanaut">
          <span></span>
          <svg class="icon"><use xlink:href="#icon-ig" /></svg>
        </a>
      </li>
      <li>
        <a class="foot" href="https://linkedin.com/in/kerrysnyder">
          <span></span>
          <svg class="icon"><use xlink:href="#icon-linkedin" /></svg>
        </a>
      </li>
    </ul>
  </nav>
  <p class="legalese">
    <span class="copyleft">©</span> 2020
    <a href="https://www.atmanautica.com">Folio</a>
    <span>&nbsp;•&nbsp;</span>
    <a href="https://atmanaut.me">Blog</a>
    <span>&nbsp;•&nbsp;</span>
    <a href="https://atmanaut.us">More</a>
  </p>
  <div name="bottom" class="elevator-button">
    <span></span>
    <svg class="icon"><use xlink:href="#icon-elevator" /></svg>
  </div>
  <span id="eb" class="spectre"></span>
</footer>
