<footer class="site-footer" id="footer">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>
  <nav>
    <ul class="identity-list">
      <li>
        <a class="foot" href="https://github.com/krry">
          <span></span>
          <svg class="icon"><use xlink:href="#icon-octocat" /></svg>
        </a>
      </li>
      <li>
        <a class="foot" href="https://twitter.com/kerryourself">
          <span></span>
          <svg class="icon"><use xlink:href="#icon-tw" /></svg>
        </a>
      </li>
      <li>
        <a class="foot" href="https://www.goodreads.com/user/show/5458903-kerry">
          <span></span>
          <svg class="icon"><use xlink:href="#icon-goodreads" /></svg>
        </a>
      </li>
      <li>
        <a class="foot" href="https://medium.com/@atmanaut">
          <span></span>
          <svg class="icon"><use xlink:href="#icon-medium" /></svg>
        </a>
      </li>
      <li>
        <a class="foot" href="https://codepen.io/krry">
          <span></span>
          <svg class="icon"><use xlink:href="#icon-codepen" /></svg>
        </a>
      </li>
      <li>
        <a class="foot" href="https:/instagram.com/atmanaut">
          <span></span>
          <svg class="icon"><use xlink:href="#icon-ig" /></svg>
        </a>
      </li>
      <li>
        <a class="foot" href="https://linkedin.com/in/kerrysnyder">
          <span></span>
          <svg class="icon"><use xlink:href="#icon-linkedin" /></svg>
        </a>
      </li>
    </ul>
  </nav>
  <p class="legalese">
    <a href="https://krry.dev">Folio</a>
    <span>&nbsp;•&nbsp;</span>
    <a href="https://kerrbear.wtf">Commonplace</a>
    <span>&nbsp;•&nbsp;</span>
    <a href="https://nameless.quest">Nameless</a>
    <span>&nbsp;•&nbsp;</span>
    <a href="https://atmanaut.me">Atmanaut</a>
    <span>&nbsp;•&nbsp;</span>
    <a href="https://easeness.biz">Easeness</a>
    <span>&nbsp;•&nbsp;</span>
    <a href="https://psg.krry.dev">Passage</a>
  </p>
  <p class="gracias">
    <span class="copyleft">©</span> {{ "now" | date: "%Y" }}
    <span>@ krry</span>
  </p>
  <div name="bottom" class="elevator-button">
    <span></span>
    <svg class="icon"><use xlink:href="#icon-elevator" /></svg>
  </div>
  <span id="eb" class="spectre"></span>
</footer>
