<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="theme-color" content="#180539" />
	{%- seo -%}
	<meta
		property="og:image"
		content="https://og.easeness.biz/Atmanautica.jpeg?theme=light&md=1&fontSize=125px&images=https%3A%2F%2Fatmanaut.sirv.com%2F_images%2Fbloob-black.png&widths=350&heights=350"
	/>
	<link rel="apple-touch-icon" sizes="57x57"
	href="{{"/assets/favs/favicon-57x57.png" | relative_url }}" /> <link
	rel="apple-touch-icon" sizes="60x60" href="{{"/assets/favs/favicon-60x60.png"
	| relative_url }}" /> <link rel="apple-touch-icon" sizes="72x72"
	href="{{"/assets/favs/favicon-72x72.png" | relative_url }}" /> <link
	rel="apple-touch-icon" sizes="76x76" href="{{"/assets/favs/favicon-76x76.png"
	| relative_url }}" /> <link rel="apple-touch-icon" sizes="114x114"
	href="{{"/assets/favs/favicon-114x114.png" | relative_url }}" /> <link
	rel="apple-touch-icon" sizes="120x120"
	href="{{"/assets/favs/favicon-120x120.png" | relative_url }}" /> <link
	rel="apple-touch-icon" sizes="144x144"
	href="{{"/assets/favs/favicon-144x144.png" | relative_url }}" /> <link
	rel="apple-touch-icon" sizes="152x152"
	href="{{"/assets/favs/favicon-152x152.png" | relative_url }}" /> <link
	rel="apple-touch-icon" sizes="180x180"
	href="{{"/assets/favs/favicon-180x180.png" | relative_url }}" /> <link
	rel="icon" type="image/svg+xml" href="{{"/assets/favs/favicon.svg" |
	relative_url }}" /> <link rel="icon" type="image/png" sizes="16x16"
	href="{{"/assets/favs/favicon-16x16.png" | relative_url }}" /> <link
	rel="icon" type="image/png" sizes="32x32"
	href="{{"/assets/favs/favicon-32x32.png" | relative_url }}" /> <link
	rel="icon" type="image/png" sizes="96x96"
	href="{{"/assets/favs/favicon-96x96.png" | relative_url }}" /> <link
	rel="icon" type="image/png" sizes="192x192"
	href="{{"/assets/favs/favicon-192x192.png" | relative_url }}" /> <link
	rel="shortcut icon" type="image/x-icon" href="{{"/assets/favs/favicon.ico" |
	relative_url }}" /> <link rel="icon" type="image/x-icon"
	href="{{"/assets/favs/favicon.ico" | relative_url }}" />
	<meta name="msapplication-TileColor" content="#180539" />
	<meta name="msapplication-TileImage"
	content="{{"/assets/favs/favicon-144x144.png" | relative_url }}" /> <meta
	name="msapplication-config" content="{{"/assets/browserconfig.xml" |
	relative_url }}" /> <link rel="manifest" href="{{"/assets/manifest.json" |
	relative_url }}" />
	<meta name="theme-color" content="#180539" />
	<link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin />
	{%- include fonts.html -%} <link rel="stylesheet" href="{{ "/assets/main.css"
	| relative_url }}" /> <link rel="stylesheet" href="{{ "/assets/daily.css" |
	relative_url }}" /> <link rel="stylesheet" href="{{
	"/assets/styles/recursive-font.css" }}" />
	<script src="/assets/scripts/prefix-free.min.js"></script>
	{%- feed_meta -%}
</head>
