<!-- prettier-ignore -->
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="theme-color" content="#180539" />
	{%- seo -%}
	<meta
		property="og:image"
		content="https://og.easeness.biz/Atmanautica.jpeg?theme=light&md=1&fontSize=125px&images=https%3A%2F%2Fatmanaut.sirv.com%2F_images%2Fbloob-black.png&widths=350&heights=350"
	/>
	<link rel="apple-touch-icon" sizes="180x180" href="{{"/assets/favs/favicon-180x180.png" | relative_url }}" />
	<link rel="icon" type="image/svg+xml" href="{{"/assets/favs/favicon.svg" | relative_url }}" />
	<link rel="icon" type="image/x-icon" href="{{"/assets/favs/favicon.ico" | relative_url }}" sizes="any" />
	<!-- TODO: use SVG favicon according to https://css-tricks.com/how-to-favicon-in-2021/ -->
	<link rel="manifest" href="{{"/assets/manifest.json" | relative_url }}" />
	<link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}" />
	<link rel="stylesheet" href="{{ "/assets/daily.css" | relative_url }}" />
	<link	rel="stylesheet" href="{{ "/assets/styles/recursive-font.css" | relative_url }}" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/devicon.min.css">
	<script src="/assets/scripts/prefix-free.min.js"></script>
	{%- feed_meta -%}
</head>
