<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#280664">
  {%- seo -%}
  <meta property="og:image" content="https://og-image.atmanaut.us/Atmanautica.jpeg?theme=light&md=1&fontSize=125px&images=https%3A%2F%2Fatmanaut.sirv.com%2F_images%2Fbloob-black.png&widths=350&heights=350">
  <link rel="shortcut icon" href="{{ "/assets/favicon.ico" | relative_url }}" type="image/x-icon">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ "/assets/favs/apple-touch-icon.png" | relative_url }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ "/assets/favs/favicon-32x32.png" | relative_url }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ "/assets/favs/favicon-16x16.png" | relative_url }}">
  <link rel="manifest" href="{{ "/assets/site.webmanifest" | relative_url }}">
  <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
  {%- include fonts.html -%}
  <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
  <link rel="stylesheet" href="{{ "/assets/daily.css" | relative_url }}">
  <script src="/assets/scripts/prefix-free.min.js"></script>
  {%- feed_meta -%}
</head>
