<h1 class="headline">
	<span class="expose" data-filler="eloping & de">Dev<span class="insert"></span>signing</span>
	<br />
	<span class="expose" data-filler="mmunal, com" data-suffix=" about">
		com<span class="insert"></span>passionate
	</span>
	<br />
	<span class="expose" data-filler="ical harmon">technolog<span class="insert"></span>y</span>
</h1>
<h1 class="bloob purp50"></h1>
<h2>Here about business…</h2>
<div class="button-row">
	<a class="btn blue lg" href="/folio">See my folio 🖼</a>
	<a class="btn holo lg" href="/contact">Get in touch 💬</a>
	<a class="btn holo lg" href="/daily">Step into my office 📹</a>
</div>
<!-- <h1 class="bloob bloor33"></h1> -->
<h2>or pleasure?</h2>
<div class="button-row">
	<a class="btn holo lg" href="https://nameless.quest">Nameless ☯︎</a>
	<a class="btn holo lg" href="https://easeness.biz">Easeness 🍃</a>
	<a class="btn holo lg" href="https://kerrbear.wtf">Commonplace ✨</a>
</div>
