<section class="blob hidden money" id="money">
  <h2 class="bloob bloor75">Giving === Loving</h2>
  <p> It hurts us and our world to generalize, commodify, and monetize what
    matters to us. We can return to an abundant way of life, we can claim our
    sovereignty and take responsibility. In this phase of transition and
    transformation, I have dwindling needs that money can satisfy.
    But my projects on the web, in the garden, and in the kitchen don't yet
    pay the rent. So if you find yourself with a surplus of money and wish
    to offer me a modicum of grace, I will gladly accept.</p>
  <div class="payments">
    <img src="/assets/img/venmo.png" class="framed fit-phone" alt="Kerry is
    @atmanaut on Venmo">
    <h3>🎁 Gratitude, gratitude, gratitude 💗</h3>
  </div>
</section>
