<section class="blob hidden money" id="money">
  <h1 class="bloob bloor75">Show Me the Money</h1>
  <p>The more beautiful world our hearts know is possible operates without
    generalizing, commodifying, and monetizing what matters to us. That world
    sits just over the horizon, and in these times of transition and
    transformation, I have occasional and lessening needs that can be
    satisfied with money. If you find yourself with a surplus of money and wish
    to offer me a gift, I will gladly accept. You have my gratitude either way,
    for being, for being you, for being present now•here.</p>
  <h2>🎁 Giving === Loving 💗</h2>
  <div class="payments">
    <img src="/assets/img/venmo.png" class="framed fit-phone" alt="Kerry's Venmo QR code">
  </div>
</section>
