<div class="quiver" id="quiver">
  <div class="abscen" id="waves"></div>
  <script src="/assets/scripts/folds.js" defer></script>
  <script src="/assets/scripts/thumbs.js" defer></script>
  <script src="/assets/scripts/lazyloads.js" defer></script>
  <script src="/assets/scripts/three.r92.min.js" defer></script>
  <script src="/assets/scripts/vanta.waves.min.js" defer></script>
  <script src="/assets/scripts/waves.js" defer></script>
  <script src="/assets/scripts/ZzFX.min.js" defer></script>
  <script src="/assets/scripts/drawer.js" defer></script>
  <script src="/assets/scripts/lenses.js" defer></script>
  <script src="/assets/scripts/elevator.js" defer></script>
  <script src="/assets/scripts/elevator.min.js" defer></script>
  <script src="/assets/scripts/dialog-polyfill.js" defer></script>
  <script src="/assets/scripts/dialog-ios.js" defer></script>
  <noscript>
    <style>.lazy { display: none; }</style>
  </noscript>
  <script>
    document.cookie = "SameSite=None;expires=2021"
  </script>
</div>
