<div class="quiver" id="quiver">
  <div class="abscen waves" id="waves"></div>
  <script src="/assets/scripts/three.r92.min.js" defer></script>
  <script src="/assets/scripts/vanta.waves.min.js" defer></script>
  <script src="/assets/scripts/ZzFX.min.js" defer></script>
  <script src="/assets/scripts/dialog-polyfill.js" defer></script>
  <script src="/assets/scripts/dialog-ios.js" defer></script>
  <script src="/assets/scripts/index.js" defer></script>
  <noscript>
    <style>
      .lazy {
        display: none;
      }
    </style>
  </noscript>
</div>
