<div class="img-row">
	<figure>
		<img src="/assets/img/gifts/receive-ethereum-close.png" alt="Ethereum QR Code" />
		<figcaption>
			<h3>Ethereum</h3>
			<span>atmanaut.eth</span>
		</figcaption>
	</figure>
	<figure>
		<img src="/assets/img/gifts/receive-bitcoin.png" alt="Bitcoin QR Code" />
		<figcaption>
			<h3>Bitcoin</h3>
			<span>3GAqPdNKULz2YPKTHACvx46iMQGFSraTZK</span>
		</figcaption>
	</figure>
	<figure>
		<img src="/assets/img/gifts/receive-dogecoin-close.png" alt="Dogecoin QR Code" />
		<figcaption>
			<h3>Dogecoin</h3>
			<span>DHuchU2dQ3qDQEfmDzuboqD2ncQpLUqY1z</span>
		</figcaption>
	</figure>
	<figure>
		<img src="/assets/img/gifts/receive-polkadot-close.png" alt="Polkadot QR Code" />
		<figcaption>
			<h3>Polkadot</h3>
			<span>12Lyoo8G761TFkzBeUdjRrtpGKhHcmwX5WzzhNqv833dwChT</span>
		</figcaption>
	</figure>
</div>
