<div class="img-row">
	<figure>
		<a class="pay-link" href="https://venmo.com/u/atmanaut">
			<img src="/assets/img/gifts/atmanaut-venmo.png" alt="Venmo QR Code" />
			<figcaption>
				<h3>Venmo</h3>
				<span>@atmanaut</span>
			</figcaption>
		</a>
	</figure>
	<figure class="paypal">
		<a class="pay-link" href="https://www.paypal.com/paypalme/krryon">
			<img src="/assets/img/gifts/paypal-qrcode.png" alt="Paypal QR Code" />
			<figcaption>
				<h3>Paypal</h3>
				<span>@krryon</span>
			</figcaption>
		</a>
	</figure>
</div>
<div class="img-row">
	<figure>
		<a class="pay-link" href="https://atmanaut.eth">
			<img src="/assets/img/gifts/receive-ethereum-close.png" alt="Ethereum QR Code" />
			<figcaption>
				<h3>Ethereum</h3>
				<span>atmanaut.eth</span>
			</figcaption>
		</a>
	</figure>
	<figure>
		<img src="/assets/img/gifts/receive-bitcoin.png" alt="Bitcoin QR Code" />
		<figcaption>
			<h3>Bitcoin</h3>
			<span>3GAqPdNKULz2YPKTHACvx46iMQGFSraTZK</span>
		</figcaption>
	</figure>
	<figure>
		<img src="/assets/img/gifts/receive-dogecoin-close.png" alt="Dogecoin QR Code" />
		<figcaption>
			<h3>Dogecoin</h3>
			<span>DHuchU2dQ3qDQEfmDzuboqD2ncQpLUqY1z</span>
		</figcaption>
	</figure>
	<figure>
		<img src="/assets/img/gifts/receive-polkadot-close.png" alt="Polkadot QR Code" />
		<figcaption>
			<h3>Polkadot</h3>
			<span>12Lyoo8G761TFkzBeUdjRrtpGKhHcmwX5WzzhNqv833dwChT</span>
		</figcaption>
	</figure>
</div>
