<li id="tville" class="work-fold split fold-tville">
  <a class="unfolder" href="#tville">
    <div class="work-logo logo-tville"></div>
  </a>
  <dialog class="work-zoom">
    <div class="closer corner"><span></span><svg class="icon xmark" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M24 3.752l-4.423-3.752-7.771 9.039-7.647-9.008-4.159 4.278c2.285 2.885 5.284 5.903 8.362 8.708l-8.165 9.447 1.343 1.487c1.978-1.335 5.981-4.373 10.205-7.958 4.304 3.67 8.306 6.663 10.229 8.006l1.449-1.278-8.254-9.724c3.287-2.973 6.584-6.354 8.831-9.245z"/></svg></div>
    <div class="work-logo logo-tville"></div>
    <h3>Pioneering a fun, safe social network for kids and their families</h3>
    <div class="gallery">
      <a class="thumb" href="#tville-home">
        <img src="{{ '/assets/img/work/tville-home.jpg' | relative_url }}"
        alt="Togetherville landing page">
      </a>
      <a class="thumb" href="#tville-kids">
        <img src="{{ '/assets/img/work/tville-kids.jpg' | relative_url }}"
             alt="Togetherville kids home">
      </a>
      <a class="thumb" href="#tville-homepage">
        <img src="{{ '/assets/img/work/tville-homepage.jpg' | relative_url
        }}" alt="Togetherville homepage">
      </a>
      <a class="thumb" href="#tville-levar">
        <img src="{{ '/assets/img/work/tville-levar.jpg' | relative_url }}"
             alt="The Togethervillains with Levar and Mark">
      </a>
    </div>
    <p>In 2010, Facebook was just beginning its pandemic spread. Kids,
      restricted from joining by the Children's Online Privacy Protection Act,
      could play with their friends online illegally, or with strangers
      anonymously on platforms like <a href="https://cprewritten.net/">Club
        Penguin</a>. We offered them a safe place to play with their
      friends and families: games with leaderboards and dares, curated videos
      to like and share, quips (think: tweets), and art creation apps.
      Stretching to fit our needs, I developed our content strategy, designed
      flash games and art apps, made promo videos, conduct user research,
      prototyped new features and interaces, and started learning to code.</p>
    <video class="looper" autoPlay loop muted>
      <source src="{{ '/assets/img/videos/TV-3D-graphic.mp4' | relative_url }}" />
        Your browser does not support the video tag.
    </video>
    <div class="work-lists">
      <div class="work-list">
        <h4>Roles</h4>
        <ul class="pills">
          <li>Content strategy</li>
          <li>Interface design</li>
          <li>Game design &amp; development</li>
          <li>Video production</li>
          <li>Growth hacking</li>
          <li>Virtual currency</li>
          <li>COPPA</li>
        </ul>
      </div>
    </div>
  </dialog>
</li>
