<li id="arrivo" class="work-fold split fold-arrivo">
  <a class="trigger">
    <div class="work-logo logo-arrivo"></div>
  </a>
  <dialog class="work-zoom">
    {%- include closer.html content="arrivo-closer" -%}
    <div class="work-logo logo-arrivo"></div>
    <h3>Envisioning the end of traffic</h3>
    <p>"Don't let Earth suck" sang the gargantuan neon sign at HQ. We
      assembled all-stars and avengers to put an end to traffic. The world
      might not be ready for a hyperloop, but aren't we ready to arrive?</p>
    <div class="gallery tall">
      {%- include closer.html content="arrivo-thumb-closer" -%}
      <figure class="thumb" href="#arrivo-timeline">
        <img src="{{ '/assets/img/work/arrivo-timeline.jpg' | relative_url }}"
             alt="Transportechronology">
        <figcaption>A timeline of transportation technology spanning back
          over 11,000 years</figcaption>
      </figure>
      <figure class="thumb" href="#arrivo-hero">
        <img src="{{ '/assets/img/work/arrivo-hero.jpg' | relative_url }}"
             alt="Arrivo hero">
        <figcaption>A hero design from the Arrivo-loop.com redesign project
          in collaboration with a local artist</figcaption>
      </figure>
      <figure class="thumb" href="#arrivo-car">
        <img src="{{ '/assets/img/work/arrivo-car.jpg' | relative_url }}"
             alt="Arrivo car concept">
        <figcaption>A mockup of <a
          href="https://www.thedrive.com/tech/22296/china-ponies-up-1b-for-arrivo-hyperloop-system">an
          Arrivo car concept</a></figcaption>
      </figure>
      <figure class="thumb" href="#arrivo-rail">
        <img src="{{ '/assets/img/work/arrivo-suck.jpg' | relative_url }}"
             alt="Don't Let Earth Suck">
        <figcaption>Our unofficial motto, blazing in the lobby at HQ</figcaption>
      </figure>
      <figure class="thumb" href="#palm-springs">
        <img src="{{ '/assets/img/work/arrivo-syd-mead.jpg' | relative_url }}"
             alt="Palm Springs by Syd Mead">
        <figcaption>Palm Springs (2006) by Syd Mead</figcaption>
      </figure>
      <figure class="thumb" href="#arrivo-rail">
        <img src="{{ '/assets/img/work/arrivo-rail.jpg' | relative_url }}"
             alt="Arrivo tube concept">
        <figcaption>A mockup of <a
          href="https://www.engadget.com/2017-11-15-denver-will-test-its-own-hyperloop-inspired-transport-system.html">the Arrivo infrastructure in an urban
          environment</a></figcaption>
      </figure>
      <figure class="thumb" href="#arrivo-earth">
        <img src="{{ '/assets/img/work/arrivo-earth.jpg' | relative_url }}"
             alt="Earth not sucking">
        <figcaption><a
          href="http://www.mccallstudios.com/the-prologue-and-the-promise/">The_Prologue_and_the_Promise
          by Robert McCall</a></figcaption>
      </figure>
    </div>
    <p>It was a blessing and a joy to think so big. In an attempt to inform
      our ambitions, I created a comprehensive timeline of transportation
      technology, presented on an 80" touchscreen. Stretching to fit our
      needs, I architected the IT infrastructure, refreshed our
      website, coordinated our move into HQ, and juggled any number of odd
      operations duties. And that golf machine!</p>
    <div class="work-lists">
      <div class="work-list split">
        <h4>Roles</h4>
        <ul class="pills">
          <li>Operations</li>
          <li>IT Admin</li>
          <li>Webmaster</li>
          <li>Water Spider</li>
          <li>Researcher</li>
        </ul>
      </div>
      <div class="work-list split">
        <h4>Sites</h4>
        <ul class="links">
          <li><a href="https://arrivo-loop.com">Arrivo-loop.com</a></li>
          <li><a href="https://www.tiki-toki.com/timeline/entry/994066/Transportechnochronology/">Transportechronology</a></li>
        </ul>
      </div>
    </div>
  </dialog>
</li>
