<li id="thirdprime" class="work-fold split fold-thirdprime">
  <a class="trigger">
    <div class="work-logo logo-thirdprime"></div>
  </a>
  <dialog class="work-zoom">
    {%- include closer.html content="3p-closer" -%}
    <div class="work-logo logo-thirdprime"></div>
    <h3>Inspired by nature, designing with compassion</h3>
    <p>Four talented, ambitious industrial designers and yours truly teamed up
      during the not-so-great Recession to bring some healing and humor to the
      world.</p>
    <div class="gallery tall">
      {%- include closer.html content="3p-thumb-closer" -%}
      <figure class="thumb" href="#3p-web">
        <img src="{{ '/assets/img/work/3p-web.png' | relative_url }}"
             alt="ThirdPrime Homepage">
        <figcaption>Once the homepage of ThirdPrime.com</figcaption>
      </figure>
      <figure class="thumb" href="#3p-sketch">
        <img src="{{ '/assets/img/work/3p-sketch.jpg' | relative_url }}"
             alt="HHH Cart Wave Maker sketch">
        <figcaption>Design sketch of the wave maker for the HHH Cart (credit:
          Joe Grasso)</figcaption>
      </figure>
      <figure class="thumb" href="#3p-bin">
        <img src="{{ '/assets/img/work/3p-bin.jpg' | relative_url }}"
             alt="ThirdPrime Homepage">
        <figcaption>The HHH Cart stream bin mid-fabrication</figcaption>
      </figure>
      <figure class="thumb" href="#3p-cart">
        <img src="{{ '/assets/img/work/3p-cart.jpg' | relative_url }}"
             alt="HHH Cart Stream Experience">
        <figcaption>A flowing stream experience on the HHH Cart</figcaption>
      </figure>
      <figure class="thumb" href="#3p-carts">
        <img src="{{ '/assets/img/work/3p-carts.jpg' | relative_url }}"
             alt="Hope and Healing Hands Carts being fabricated">
        <figcaption>Hope and Healing Hands carts in fabrication</figcaption>
      </figure>
      <figure class="thumb">
        <video class="looper" width="640" height="360" autoPlay loop muted>
          <source src="{{ '/assets/img/videos/3p-HHHCart.mp4' | relative_url }}" />
            Your browser does not support the video tag.
        </video>
        <figcaption>A tour of the Hope and Healing Hands cart in operation in
          a North Carolina children's hospital.</figcaption>
      </figure>
    </div>
    <p>Our most successful product, the Hope and Healing Hands Cart, delivers a safe, fun, sterile experience of nature to hospital-bound children whose health is too compromised to allow them to safely play outside.</p>
    <p>We were nearly kids at the time, I was a newly minted attorney, and we
      learned many things the hard way in this first take at entrepreneurship.</p>
    <div class="work-lists">
      <div class="work-list">
        <h4>Products</h4>
        <ul class="pros">
          <li>Hope and Healing Hands Nature Cart</li>
          <li>Wobl, an iPhone alarm clock</li>
          <li>Golden Games</li>
          <li>Antler olive picks</li>
          <li>Bosch dishwasher</li>
        </ul>
      </div>
    </div>
  </dialog>
</li>
