<p class="blurb">We design and develop experiences, systems, flows, software,
  and applications that are shaped by the demonstrated needs and preferences of
  real users and customers. Among us a lifelong systems thinker and an
  unbridled empath, our work tends to ride the crest of the wave of
  innovation, applying the latest technology to our most pressing challenges.</p>
<ul class="reset jobs">
  {%- include work/atmanautica.html -%}
  {%- include work/passage.html -%}
  {%- include work/mandarin9.html -%}
  {%- include work/arrivo.html -%}
  {%- include work/solarcity.html -%}
  {%- include work/disney.html -%}
  {%- include work/tville.html -%}
  {%- include work/thirdprime.html -%}
</ul>
<p class="blurb">Like many developers and designers, the lion's
  share of our work (and indeed some of the work of which we are most proud)
  has occurred in close collaboration with teams and remains under closed
  source. We do not claim authorship of all the work featured here, nor can
  we hope to tease out every individual contribution. If you are a
  collaborator who would like explicit attribution for any of this, please
  <a href="/contact">let us know</a>.</p>
