<li id="disney" class="work-fold split fold-disney">
  <a class="trigger">
    <div class="work-logo logo-disney"></div>
  </a>
  <dialog class="work-zoom">
    {%- include closer.html content="disney-closer" -%}
    <div class="work-logo logo-disney"></div>
    <h3>Blazing the trail to Disney+, Magic Bands, and Pokemon Go</h3>
    <div class="gallery">
      {%- include closer.html content="disney-thumb-closer" -%}
      <figure class="thumb" href="#disney-pins">
        <img src="{{ '/assets/img/work/disney-pins.png' | relative_url }}"
             alt="pins banner">
        <figcaption>Digital Pins: A Concept, A Pitch, A Lead Balloon</figcaption>
      </figure>
      <figure class="thumb" href="#disney-three">
        <img src="{{ '/assets/img/work/disney-three.png' | relative_url }}"
        alt="three digital pins">
        <figcaption>We envisioned discovering and collecting digital Disney
          characters via augmented reality, four years before Pokemon Go
          debuted.</figcaption>
      </figure>
      <figure class="thumb" href="#disney-store">
        <img src="{{ '/assets/img/work/disney-store.jpg' | relative_url }}"
             alt="in-store AR bands">
        <figcaption>QR codes placed on promotional decor offer guests digital
          touchpoints and opportunities to collect more characters.</figcaption>
      </figure>
      <figure class="thumb" href="#disney-bands">
        <img src="{{ '/assets/img/work/disney-bands.jpg' | relative_url }}"
             alt="Parks Magic Bands">
        <figcaption>We proposed that guests could wear smart wristbands to enable personalized, magical experiences as they navigate the park. <a
            href="https://disneyworld.disney.go.com/plan/my-disney-experience/bands-cards/">Magic
            Bands</a> are now ubiquitous in Disney Parks.
</figcaption>
      </figure>
    </div>
    <p>We got off to a rocky start when Disney Interactive chose to sunset our
      Togetherville platform and all of our products and services within six
      months of our acquisition. But the silver lining appeared as we began to
      apply our technological acumen to dream up the magical (and plausible)
      wonders we could offer to the world via The Mouse. </p>
    <p>We soon secured <a target="_blank" href="https://patents.google.com/patent/US9390243B2/en">a patent for the Dynamic Trust Score</a>, then proceeded on to architect the integration of the company's identity platforms into what was termed <a href="https://www.disneyid.com/">Disney ID</a>. </p>
    <p>Then the real fun began. In a few short months we spun up and pitched a
       squall line of concepts that have taken nearly a decade to come to fruition.
      Some highlights:
      <ul>
        <li>a precursor to Pokemon Go featuring collectible Disney characters living in AR,</li>
        <li>a celestial Disney jukebox that became the <a href="https://www.disneyplus.com/">Disney+</a> streaming service, and</li>
        <li>an evolution of Disney Pins involving smart, wearable collectibles that are now called <a href="https://disneyworld.disney.go.com/plan/my-disney-experience/bands-cards/">Magic
        Bands</a>.</li>
      </ul>
    </p>
    <div class="work-list">
      <h4>Skills</h4>
      <ul class="pills">
        <li>Gamification</li>
        <li>Platform architecture</li>
        <li>Game design</li>
        <li>Guest experience mapping</li>
        <li>UI/UX prototyping</li>
      </ul>
    </div>
  </dialog>
</li>
