<li id="disney" class="work-fold split fold-disney">
  <a class="unfolder" href="#disney">
    <div class="work-logo logo-disney"></div>
  </a>
  <dialog class="work-zoom">
    <div class="closer corner"><span></span><svg class="icon xmark" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M24 3.752l-4.423-3.752-7.771 9.039-7.647-9.008-4.159 4.278c2.285 2.885 5.284 5.903 8.362 8.708l-8.165 9.447 1.343 1.487c1.978-1.335 5.981-4.373 10.205-7.958 4.304 3.67 8.306 6.663 10.229 8.006l1.449-1.278-8.254-9.724c3.287-2.973 6.584-6.354 8.831-9.245z"/></svg></div>
    <div class="work-logo logo-disney"></div>
    <h3>Blazing the trail to Disney+, Magic Bands, and Pokemon Go</h3>
    <div class="gallery">
      <a class="thumb" href="#disney-pins">
        <img src="{{ '/assets/img/work/disney-pins.png' | relative_url }}"
             alt="pins banner">
      </a>
      <a class="thumb" href="#disney-store">
        <img src="{{ '/assets/img/work/disney-store.jpg' | relative_url }}"
        alt="in-store AR bands">
      </a>
      <a class="thumb" href="#disney-three">
        <img src="{{ '/assets/img/work/disney-three.png' | relative_url }}"
        alt="three digital pins">
      </a>
      <a class="thumb" href="#disney-bands">
        <img src="{{ '/assets/img/work/disney-bands.jpg' | relative_url }}"
             alt="Parks Magic Bands">
      </a>
    </div>
    <p>We got off to a rocky start when they sunset our Togetherville platform
      and all of our products and services within six months after our
      acquisition. But the silver lining appeared as we began to apply our
      technological acumen to dream up the magical (and plausible) wonders
      we could offer to the world via The Mouse.</p>
    <p>While we were initially tasked with integrating the company's identity
      platforms into what was termed Disney ID, we spun up and pitched a rich
      storm of concepts: a precursor to Pokemon Go featuring collectible
      Disney characters living in AR, a celestial Disney jukebox that became
      the Disney+ streaming service, and an evolution of Disney Pins
      involving wearable smart collectibles that are now called Magic Bands.</p>
    <div class="work-lists">
      <div class="work-list split">
        <h4>Skills</h4>
        <ul class="pills">
          <li>Gamification</li>
          <li>Platform architecture</li>
          <li>Game design</li>
          <li>Guest experience mapping</li>
          <li>UI/UX prototyping</li>
        </ul>
      </div>
      <div class="work-list split">
        <h4>Concepts</h4>
        <ul class="pros">
          <li>Trust Score <a
            href="https://patents.google.com/patent/US9390243B2/en">patent</a></li>
          <li><a href="https://www.disneyid.com/">Disney ID</a></li>
          <li><a href="https://www.disneyplus.com/">Disney+</a></li>
          <li><a href="https://disneyworld.disney.go.com/plan/my-disney-experience/bands-cards/">Disney Parks</a> <a
              href="https://www.shopdisney.com/parks/shop-by-category/accessories/magicband/">Magic
              Bands</a></li>
          <li><a
              href="https://www.shopdisney.com/parks/shop-by-category/collectibles/pins-buttons-patches/">Disney Pins</a></li>
        </ul>
      </div>
    </div>
  </dialog>
</li>
