<li id="passage" class="work-fold split fold-passage">
  <a class="unfolder" href="#passage">
    <div class="work-logo logo-passage"></div>
  </a>
  <dialog class="work-zoom">
    <div class="closer corner"><span></span><svg class="icon xmark" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M24 3.752l-4.423-3.752-7.771 9.039-7.647-9.008-4.159 4.278c2.285 2.885 5.284 5.903 8.362 8.708l-8.165 9.447 1.343 1.487c1.978-1.335 5.981-4.373 10.205-7.958 4.304 3.67 8.306 6.663 10.229 8.006l1.449-1.278-8.254-9.724c3.287-2.973 6.584-6.354 8.831-9.245z"/></svg></div>
    <div class="work-logo logo-passage"></div>
    <h3>Finding whimsy in the inexorable passage of time</h3>
    <a class="btn lg picto" href="https://passage.atmanaut.me">
      <img src="{{ '/assets/img/work/passage-3d.jpg' | relative_url }}" alt="Passage 3D">
      <label class="stack">Passage 3D</label>
    </a>
    <a class="btn lg picto" href="https://passage.now.sh">
      <img src="{{ '/assets/img/work/passage-2d.jpg' | relative_url }}" alt="Passage 2D">
      <label class="stack">Passage 2D</label>
    </a>
    <p>A breathing, dancing percentage clock designed for huge and tiny screens. Can a clock help us enjoy the passage of time?</p>
    <video class="looper" width="640" height="360" autoPlay loop muted>
      <source src="{{ '/assets/img/videos/passage-eg.mp4' | relative_url }}" />
        Your browser does not support the video tag.
    </video>
    <div class="work-lists">
      <div class="work-list split">
        <h4>Skills</h4>
        <ul class="pills">
          <li>Vanilla JS/CSS/HTML</li>
          <li>Events</li>
          <li>Modules</li>
          <li>Animotion</li>
          <li>Progressive Web App</li>
        </ul>
      </div>
      <div class="work-list split">
        <h4>Themes</h4>
        <ul class="pills">
          <li>Synchronicity</li>
          <li>Stillness</li>
          <li>Solitude</li>
        </ul>
      </div>
  </dialog>
</li>
