<li id="passage" class="work-fold split fold-passage">
  <a class="trigger">
    <div class="work-logo logo-passage"></div>
  </a>
  <dialog class="work-zoom">
    {%- include closer.html content="psg-thumb-closer" -%}
    <div class="work-logo logo-passage"></div>
    <h3>Finding whimsy in the inexorable passage of time</h3>
    <a class="btn lg picto" href="https://passage.atmanaut.me">
      <img class="lazy" src="/assets/img/work/pre/passage-3d.jpg"
      data-src="/assets/img/work/passage-3d.jpg" alt="">
      <label class="stack">Passage 3D</label>
    </a>
    <a class="btn lg picto" href="https://passage.now.sh">
      <img class="lazy" src="/assets/img/work/pre/passage-2d.jpg"
      data-src="/assets/img/work/passage-2d.jpg" alt="">
      <label class="stack">Passage 2D</label>
    </a>
    <p>A breathing, dancing percentage clock designed for huge and tiny screens. Can a clock help us enjoy the passage of time?</p>
    <figure class="interstitial">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/eWB1VDK5onY?controls=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <figcaption></figcaption>
    </figure>
    <div class="work-lists">
      <div class="work-list split">
        <h4>Skills</h4>
        <ul class="pills">
          <li>Vanilla JS/CSS/HTML</li>
          <li>Events</li>
          <li>Modules</li>
          <li>Animotion</li>
          <li>Progressive Web App</li>
        </ul>
      </div>
      <div class="work-list split">
        <h4>Themes</h4>
        <ul class="pills">
          <li>Synchronicity</li>
          <li>Stillness</li>
          <li>Solitude</li>
        </ul>
      </div>
  </dialog>
</li>
