<li id="passage" class="work-fold split fold-passage">
  <a class="trigger">
    <div class="work-logo logo-passage"></div>
  </a>
  <dialog class="work-zoom">
    {%- include closer.html content="psg-thumb-closer" -%}
    <div class="work-logo logo-passage"></div>
    <h3>Finding whimsy in the inexorable passage of time</h3>
    <a class="btn lg picto" href="https://passage.atmanaut.me">
      <img src="{{ '/assets/img/work/passage-3d.jpg' | relative_url }}" alt="Passage 3D">
      <label class="stack">Passage 3D</label>
    </a>
    <a class="btn lg picto" href="https://passage.now.sh">
      <img src="{{ '/assets/img/work/passage-2d.jpg' | relative_url }}" alt="Passage 2D">
      <label class="stack">Passage 2D</label>
    </a>
    <p>A breathing, dancing percentage clock designed for huge and tiny screens. Can a clock help us enjoy the passage of time?</p>
    <video class="looper" width="640" height="360" autoPlay loop muted>
      <source src="{{ '/assets/img/videos/passage-eg.mp4' | relative_url }}" />
        Your browser does not support the video tag.
    </video>
    <div class="work-lists">
      <div class="work-list split">
        <h4>Skills</h4>
        <ul class="pills">
          <li>Vanilla JS/CSS/HTML</li>
          <li>Events</li>
          <li>Modules</li>
          <li>Animotion</li>
          <li>Progressive Web App</li>
        </ul>
      </div>
      <div class="work-list split">
        <h4>Themes</h4>
        <ul class="pills">
          <li>Synchronicity</li>
          <li>Stillness</li>
          <li>Solitude</li>
        </ul>
      </div>
  </dialog>
</li>
