<li id="mandarin9" class="work-fold split fold-mandarin9">
  <a class="unfolder" href="#mandarin9">
    <div class="work-logo logo-mandarin9"></div>
  </a>
  <dialog class="work-zoom">
    <div class="closer corner"><span></span><svg class="icon xmark" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M24 3.752l-4.423-3.752-7.771 9.039-7.647-9.008-4.159 4.278c2.285 2.885 5.284 5.903 8.362 8.708l-8.165 9.447 1.343 1.487c1.978-1.335 5.981-4.373 10.205-7.958 4.304 3.67 8.306 6.663 10.229 8.006l1.449-1.278-8.254-9.724c3.287-2.973 6.584-6.354 8.831-9.245z"/></svg></div>
    <div class="work-logo logo-mandarin9"></div>
    <h3>Offering the western world an entertaining way to learn Mandarin</h3>
    <div class="gallery">
      <a class="thumb" href="#m9-products">
        <img src="{{ '/assets/img/work/m9-products.jpg' | relative_url }}"
        alt="M9 Products">
      </a>
      <a class="thumb" href="#huashan">
        <img src="{{ '/assets/img/work/huashan.jpg' | relative_url }}"
        alt="Huashan from Unsplash">
      </a>
    </div>
    <p>Learning Mandarin as an adult is no small feat. At the very least it can be entertaining. We did our best to bring an effective, engaging Mandarin language-learning platform to the West.</p>
    <video class="looper" autoPlay loop muted>
      <source src="{{ '/assets/img/videos/m9-assemble.webp' | relative_url }}" />
        Your browser does not support the video tag.
    </video>
    <div class="work-list">
      <h4>Roles</h4>
      <ul class="pills">
        <li>Consulting</li>
        <li>Prototyping</li>
        <li>User Personas</li>
        <li>Tech Strategy</li>
        <li>Wordpress</li>
      </ul>
    </div>
  </dialog>
</li>
