<li id="scty" class="work-fold split fold-scty">
  <a class="trigger">
    <div class="work-logo logo-scty"></div>
  </a>
  <dialog class="work-zoom">
    {%- include closer.html content="scty-closer" -%}
    <div class="work-logo logo-scty"></div>
    <h3>The Sun provides enough energy in 8 minutes to power humanity for an entire year.</h3>
    <div class="gallery">{%- include closer.html content="scty-thumb-closer" -%}
      {%- include image.html file="scty-power-back.jpg" caption="Before the
      Sales Kickoff where we launched Green Ops"
      link="https://loanpal.com/green-energy" -%}
      {%- include image.html file="scty-today.jpg" caption="Once the homepage
      of SolarCity.com" link="https://solarcity.com" -%}
      {%- include image.html file="scty-leadgen.jpg" caption="The launch screen
      of Leadgen, our field sales lead entry app. This was a solo project,
      built from scratch in Node.js" link="https://leadgen.solarcity.com" -%}
      {%- include image.html file="scty-team.jpg" caption="Our Creative and Marketing teams circa 2013" link="" -%}
      {%- include image.html file="scty-go-quote.jpg" caption="SolarCity Go
      provided DIY quotes to prospective customers."
      link="https://go.solarcity.com" -%}
      {%- include image.html file="scty-go-bill.jpg" caption="The crux and
      boon of SolarCity Go was the live power bill calculator."
      link="https://go.solarcity.com" -%}
      {%- include image.html file="scty-creative.jpg" caption="The Creative
      Team being… creative." link="" -%}
    </div>
    <p>For SolarCity I designed, prototyped, and developed a slew of digital experiences for customers and employees. We were able to drastically improve the quality of our lead collection practices in the field with a simple web app I called Leadgen. With Dynamo and Go, we debuted the world's first DIY home solar energy experience for prospective customers.</p>
    <figure class="interstitial">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/AWg56XIpeu8?controls=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </figure>
    <p>My favorite project during my years at SolarCity was something we
      called Green Ops. Centered around a sustainability manifesto, we
      aligned our sales team of thousands, culminating in a thrilling
      chant: "Take the Power Back!" It was glorious.</p>
    <img class="lazy interstitial" src="/assets/img/work/pre/scty-greenops.png"
                                   data-src="/assets/img/work/full/scty-greenops.png" alt="">
    <div class="work-lists">
      <div class="work-list split">
        <h4>Skills</h4>
        <ul class="pills">
          <li>Prototyping</li>
          <li>User Research</li>
          <li>Water Spider</li>
          <li>Node.js</li>
          <li>Gulp builds</li>
          <li>AngularJS</li>
          <li>Firebase</li>
          <li>Continuous release</li>
          <li>Agile/Scrum</li>
          <li>Brand Strategy</li>
          <li>Marketing</li>
        </ul>
      </div>
      <div class="work-list split">
        <h4>Key Projects</h4>
        <ul class="pros">
          <li>Leadgen</li>
          <li>SolarCity.com</li>
          <li>SolarCity Go</li>
          <li>Dynamo</li>
        </ul>
      </div>
    </div>
  </dialog>
</li>
