<p class="blurb">We design and develop experiences, systems, flows, software,
  and applications that are shaped by the demonstrated needs and preferences of
  real users and customers. Rooted in complexity theory, systems thinking, and
  radical empathy, our work rides the crest of the wave of innovation,
  applying the latest technology to our most pressing challenges.</p>

<ul class="reset jobs">
  {%- include work/solarcity.html -%}
  {%- include work/arrivo.html -%}
  {%- include work/disney.html -%}
  {%- include work/passage.html -%}
  {%- include work/tville.html -%}
  {%- include work/atmanautica.html -%}
  {%- include work/mandarin9.html -%}
  {%- include work/thirdprime.html -%}
</ul>

