<li class="folio-fold split fold-arrivo">
  <a class="trigger" data-trigger="arrivo">
    <div class="folio-logo logo-arrivo"></div>
  </a>
  <dialog id="arrivo" class="folio-zoom" data-modal="arrivo">
    {%- include closer.html content='arrivo' -%}
    <div class="folio-logo logo-arrivo"></div>
    <h3>Envisioning the end of traffic</h3>
    <p>"Don't let Earth suck" sang the gargantuan neon sign at HQ. We
      assembled all-stars and avengers to put an end to traffic. The world
      might not be ready for a hyperloop, but aren't we ready to arrive?</p>
    <div class="gallery tall">
      {%- include closer.html content='arrivo-thumb-closer' -%}
      {%- include image.html file='arrivo-timeline.jpg'
      caption='A timeline of transportation technology spanning back over 11,000 years'
      link='https://www.tiki-toki.com/timeline/entry/994066/Transportechnochronology/' -%}
      {%- include image.html file='arrivo-hero.jpg' caption='A hero design from the Arrivo-loop.com redesign project in collaboration with a local artist' link='https://arrivo-loop.com'-%}
      {%- include image.html file='arrivo-car.jpg' caption='A mockup of an Arrivo car concept' link='https://www.thedrive.com/tech/22296/china-ponies-up-1b-for-arrivo-hyperloop-system' -%}
      {%- include image.html file='arrivo-syd-mead.jpg' caption='Palm Springs (2006) by Syd Mead' link='http://sydmead.com/gallery/'-%}
      {%- include image.html file='arrivo-rail.jpg' caption='A mockup of the Arrivo infrastructure in an urban environment' link='https://www.engadget.com/2017-11-15-denver-will-test-its-own-hyperloop-inspired-transport-system.html'-%}
      {%- include image.html file='arrivo-earth.jpg' caption='The Prologue and the Promise by Robert McCall' link='http://www.mccallstudios.com/the-prologue-and-the-promise/'-%}
      {%- include image.html file='arrivo-suck.jpg' caption='Our unofficial motto, blazing in the lobby at HQ' link='https://gradyhofstetter.com/arrivo' -%}
    </div>
    <p>It was a blessing and a joy to think so big. In an attempt to inform
      our ambitions, I created a comprehensive timeline of transportation
      technology, presented on an 80" touchscreen. Stretching to fit our
      needs, I architected the IT infrastructure, refreshed our
      website, coordinated our move into HQ, and juggled any number of odd
      operations duties. And that golf machine!</p>
    <div class="folio-list">
      <h4>Roles</h4>
      <ul class="pills">
        <li>Operations</li>
        <li>IT Admin</li>
        <li>Webmaster</li>
        <li>Water Spider</li>
        <li>Researcher</li>
      </ul>
    </div>
  </dialog>
</li>
