<li id="disney" class="folio-fold split fold-disney">
  <a class="trigger" data-trigger="disney">
    <div class="folio-logo logo-disney"></div>
  </a>
  <dialog class="folio-zoom" data-modal="disney">
  {%- include closer.html content='disney' -%}
  <div class="folio-logo logo-disney"></div>
  <h3>Blazing the trail to Disney+, Magic Bands, and Pokemon Go</h3>
  <div class="gallery">
    {%- include closer.html content='disney-thumb-closer' -%}
    {%- include image.html file='disney-pins.png' caption='The digital Pins concept housed a great deal to come. (Art credit: Wildlife)' link='http://wildlife.la/' -%}
    {%- include image.html file='disney-three.png' caption='I envisioned discovering and collecting digital Disney characters via augmented reality, four years before Pokemon Go debuted. (Art credit: Wildlife)' link='http://wildlife.la/' -%}
    {%- include image.html file='disney-store.jpg' caption='QR codes placed on promotional decor offer guests digital touchpoints and opportunities to collect more characters. (Art credit: Wildlife)' link='http://wildlife.la/' -%}
    {%- include image.html file='disney-bands.jpg' caption='We proposed that guests could wear smart wristbands to enable personalized, magical experiences as they navigate the park. Magic Bands are now ubiquitous in Disney Parks. (Art credit: Wildlife)' link='https://disneyworld.disney.go.com/plan/my-disney-experience/bands-cards/' -%}
  </div>
  <p>Following Togetherville's acquisition by Disney Interactive, I was ushered into the skunkfolios where our raw creativity and technological acumen interwove to dream up the most magical (and plausible) wonders we could offer to the world under the banner of the Mouse.</p>
  <p>First I led the former Togetherville to secure <a target="_blank" href="https://patents.google.com/patent/US9390243B2/en">a patent for the Dynamic Trust Score</a>, which represented the effulgence of our IP. We then proceeded on to architect the integration of the company's identity platforms into what was termed <a href="https://www.disneyid.com/">Disney ID</a>. </p>
  <p>That's when the real fun began. In a few short months our little task force spun up and pitched a squall line of concepts, some of which have taken nearly a decade to come to fruition. The lion's share of the folio remains under closed source. But here are some teasers:</p>
    <ul class="details">
      <li>a precursor to Pokemon Go featuring digital collectible characters living in AR,</li>
      <li>a celestial Disney jukebox that became the <a href="https://www.disneyplus.com/">Disney+</a> streaming service, and</li>
      <li>an evolution of Disney Pins involving smart, wearable collectibles that are now called <a href="https://disneyworld.disney.go.com/plan/my-disney-experience/bands-cards/">Magic
          Bands</a>.</li>
    </ul>
  </p>
  <div class="folio-list">
    <h4>Skills</h4>
    <ul class="pills">
      <li>Gamification</li>
      <li>Platform architecture</li>
      <li>Game design</li>
      <li>Guest experience mapping</li>
      <li>UI/UX prototyping</li>
    </ul>
  </div>
  </dialog>
</li>
