<li class="folio-fold split fold-easeness">
  <a class="trigger" data-trigger="easeness">
    <h3 class="folio-name">Easeness</h3>
    <!-- <div class="folio-logo logo-easeness"></div> -->
  </a>
  <dialog id="easeness" class="folio-zoom" data-modal="easeness">
    {%- include closer.html content='easeness' -%}
    <div class="folio-logo logo-easeness"></div>
    <h3>A new model for companies in the post-Coronation economy; bus(i/y)ness grows tired</h3>
    <div class="gallery">
      {%- include closer.html content='easeness-thumb-closer' -%}
      {%-
        include image.html
        file='easeness-dark-home.jpg'
        caption='Easeness began at 4 a.m. so darkmode is default'
        link='https://easeness.business'
      -%}
      {%-
        include image.html
        file='easeness-light-pad.jpg'
        caption='Easeness is responsive, readable, gentle'
        link='https://easeness.biz'
      -%}
      {%-
        include image.html
        file='easeness-dark-phone.jpg'
        caption='Easeness is a great midnight snack'
        link='https://easiness.biz'
      -%}
      {%-
        include image.html
        file='easeness-light-list.jpg'
        caption='Easeness comes in more than 37 flavors'
        link='https://easiness.business'
      -%}
    </div>
    <p>Easeness began as a poet's joke, some sleight of tongue. It's a pet project, a compassion project. At some point I will formalize the model and share it more widely. Easenesses are cropping up left and right these days. The gentle revolution of love and connectedness is underway.</p>
    <div class="folio-lists">
      <div class="folio-list split">
        <h4>Stack</h4>
        <ul class="pills">
          <li>Next.js</li>
          <li>React</li>
          <li>TailwindCSS</li>
          <li>Vercel</li>
        </ul>
      </div>
      <div class="folio-list split">
        <h4>Themes</h4>
        <ul class="pills">
          <li>Metta</li>
          <li>Karuna</li>
          <li>Mudita</li>
          <li>Upeksha</li>
          <li><a href="https://charleseisenstein.org/books/the-more-beautiful-world-our-hearts-know-is-possible/eng/separation/
" target="_blank" rel="noopener">TMBWOHKIP</a></li>
        </ul>
      </div>
    </div>
  </dialog>
</li>
