<li class="folio-fold split fold-easeness">
  <a class="trigger" data-trigger="easeness">
    <div class="folio-logo logo-easeness"></div>
  </a>
  <dialog id="easeness" class="folio-zoom" data-modal="easeness">
    {%- include closer.html content='easeness' -%}
    <div class="folio-logo logo-easeness"></div>
    <h3>Bringing ease and grace to bus(i/y)ness</h3>
    <a class="btn lg picto" href="https://easeness.business">
      <img class="lazy" src="/assets/img/folio/pre/easeness-3d.jpg"
      data-src="/assets/img/folio/full/easeness-3d.jpg" alt="">
      <label class="stack">Easeness.business</label>
    </a>
    <a class="btn lg picto" href="https://easeness.biz/">
      <img class="lazy" src="/assets/img/folio/pre/easeness-2d.jpg"
      data-src="/assets/img/folio/full/easeness-2d.jpg" alt="">
      <label class="stack">Easeness in Night Mode</label>
    </a>
    <p>Easeness began as a poet's joke, and maybe still is. Poets often joke about the future they see, and wail about the past they can't forget.</p>
    <div class="folio-lists">
      <div class="folio-list split">
        <h4>Stack</h4>
        <ul class="pills">
          <li>Next.js</li>
          <li>React</li>
          <li>TailwindCSS</li>
          <li>Vercel</li>
        </ul>
      </div>
      <div class="folio-list split">
        <h4>Themes</h4>
        <ul class="pills">
          <li>Synchronicity</li>
          <li>Stillness</li>
          <li>Solitude</li>
        </ul>
      </div>
  </dialog>
</li>
