<li class="folio-fold split fold-goodguild">
  <a class="trigger" data-trigger="goodguild">
    <div class="folio-logo logo-goodguild"></div>
  </a>
  <dialog id="goodguild" class="folio-zoom" data-modal="goodguild">
    {%- include closer.html content='goodguild' -%}
    <div class="folio-logo logo-goodguild"></div>
    <h3>Good Guild offers gorgeous heart-crafted, hand-fashioned goods</h3>
    <div class="gallery">
      {%- include closer.html content='goodguild-thumb-closer' -%}
      {%-
        include image.html
        file='goodguild-dark-home.jpg'
        caption='Easeness began at 4 a.m. so darkmode is default'
        link='https://goodguild.business'
      -%}
      {%-
        include image.html
        file='goodguild-light-pad.jpg'
        caption='Easeness is responsive, readable, gentle'
        link='https://goodguild.biz'
      -%}
      {%-
        include image.html
        file='goodguild-dark-phone.jpg'
        caption='Easeness is a great midnight snack'
        link='https://easiness.biz'
      -%}
      {%-
        include image.html
        file='goodguild-light-list.jpg'
        caption='Easeness comes in more than 37 flavors'
        link='https://easiness.business'
      -%}
    </div>
    <p>A passion project with my partner Elysa Fenenbock, we redesigned and revamped the website and the store during our extra time at home last summer.</p>
    <div class="folio-list">
      <h4>Stack</h4>
      <ul class="pills">
        <li>HTML</li>
        <li>CSS</li>
        <li>Squarespace</li>
      </ul>
    </div>
  </dialog>
</li>
