<li class="folio-fold split fold-nameless">
	<a class="trigger" data-trigger="nameless">
		<!-- <h3 class="folio-name">Nameless</h3> -->
		<div class="folio-logo logo-nameless"></div>
	</a>
	<dialog id="nameless" class="folio-zoom" data-modal="nameless">
		{%- include closer.html content='nameless' -%}
		<div class="folio-logo logo-nameless"></div>
		<h3>
			Nameless was designed in an instant, and then took a month to develop.
		</h3>
		<div class="gallery">
			<!-- prettier-ignore -->
			{%- include closer.html
				content='nameless-thumb-closer' -%}
			{%- include image.html
				file='nameless-night-home.jpg'
				caption='The oracle never sleeps, like the stars themselves.'
				link='https://nameless.nameless.biz/' -%}
			{%- include image.html
				file='nameless-night-oracle.jpg'
				caption='Flipping coins is remarkably difficult in the dark.'
				link='https://nameless.nameless.biz/' -%}
			{%- include image.html
				file='nameless-day-response.jpg'
				caption='Nameless provides a conversation with the oracle.'
				link='https://nameless.nameless.biz/' -%}
			{%- include image.html
				file='nameless-sea-home.jpg'
				caption='There is even an aquatic theme for the Atlanteans.'
				link='https://nameless.nameless.biz/' -%}
			{%- include image.html
				file='nameless-fire.jpg'
				caption='One might dance through the hexagrams like their pants are on fire.'
				link='https://nameless.nameless.biz/changes/30' -%}
			{%- include image.html
				file='nameless-forest-night-home.jpg'
				caption='Nameless is especially cozy at night.'
				link='https://nameless.nameless.biz/' -%}
			{%- include	image.html
				file='nameless-night-heaven.jpg'
				caption='The heavens await.'
				link='https://nameless.nameless.biz/changes/1' -%}
			{%- include image.html
				file='nameless-land-earth.jpg'
				caption='Where the creative heaven meets the receptive earth our footprints lie.'
				link='https://nameless.nameless.biz/changes/2' -%}
			{%- include image.html
				file='nameless-water.jpg'
				caption='In the abyss we can face truth, that we are but water balloons.'
				link='https://nameless.nameless.biz/changes/29' -%}
			{%- include image.html
				file='nameless-wind.jpg'
				caption='The hexagrams start to make uncanny sense as a grid of octals.'
				link='https://nameless.nameless.biz/changes/57' -%}
			{%- include image.html
				file='nameless-lake.jpg'
				caption='There be rainbows.'
				link='https://nameless.nameless.biz/changes' -%}
			{%- include image.html
				file='nameless-forest-night-oracle.jpg'
				caption='Pose a question, cast your lots, and bibbidy-bobbidy-boo 🪄'
				link='https://nameless.nameless.biz/' -%}
			{%- include image.html
				file='nameless-dozens.jpg'
				caption='A galling amount of research went into	this project.'
				link='https://nameless.nameless.biz/about' -%}
		</div>
		<!-- prettier-ignore -->
		<a class="btn lg pink" href="https://nameless.easeness.biz">Check out Nameless</a>
		<p>
			A Pandemic Special passion project from all of us here at Atmanautica. As
			I turned inside over the course of the last year of involuntary isolation,
			I was reminded of the source that once surprised me. Practicing divination
			with the Yìjīng (a.k.a. I Ching) has really peeled the onion, and renewed
			my trust in that tiny voice calling up from the bottom of the well of
			being seated deep in heart center. I can't promise that you'll be able to
			divine the future, but you just might understand this moment from a new
			and ancient vantage point, one that feels like an old friend.
		</p>
		<div class="folio-list">
			<h4>Stack</h4>
			<ul class="pills">
				<li>Vue 3</li>
				<li>Yìjīng</li>
				<li>Custom CSS</li>
				<li>Vercel</li>
			</ul>
		</div>
	</dialog>
</li>
