<li class="folio-fold split fold-outline">
  <a class="trigger" data-trigger="outline">
    <div class="folio-logo logo-outline"></div>
  </a>
  <dialog id="outline" class="folio-zoom" data-modal="outline">
    {%- include closer.html content='outline' -%}
    <div class="folio-logo logo-outline"></div>
    <h3>A collaboration space full of tools for institutional finance teams</h3>
    <div class="gallery">
      {%- include closer.html content='outline-thumb-closer' -%}
      {%-
        include image.html
        file='outline-dark-home.jpg'
        caption='Easeness began at 4 a.m. so darkmode is default'
        link='https://outline.one'
      -%}
      {%-
        include image.html
        file='outline-light-pad.jpg'
        caption='Easeness is responsive, readable, gentle'
        link='https://outline.one'
      -%}
      {%-
        include image.html
        file='outline-dark-phone.jpg'
        caption='Easeness is a great midnight snack'
        link='https://outline.one'
      -%}
      {%-
        include image.html
        file='outline-light-list.jpg'
        caption='Easeness comes in more than 37 flavors'
        link='https://outline.one'
      -%}
    </div>
    <p>Outline is building collaboration for the future of finance. I jumped in for a few dev and design cycles. Really stellar team, fantastic product.</p>
    <div class="folio-list split">
      <h4>Stack</h4>
      <ul class="pills">
        <li>React</li>
        <li>Typescript</li>
        <li>Hasura</li>
        <li>Material Design</li>
      </ul>
    </div>
  </dialog>
</li>
