<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}" id="cello"
  class="cello">

  {%- include head.html -%}

  <body>

    {%- include drawer.html -%}
    {%- include header.html -%}

    <main id="fuselage" class="page-content" aria-label="Content">
      {{ content }}
    </main>

    {%- include footer.html -%}
    {%- include sprites.html -%}
    {%- include scripts.html -%}
    <script src='https://storage.ko-fi.com/cdn/scripts/overlay-widget.js'></script>
    <script>
      kofiWidgetOverlay.draw('kerrbear', {
        'type': 'floating-chat',
        'floating-chat.donateButton.text': 'Gratitude',
        'floating-chat.donateButton.background-color': '#1697C5',
        'floating-chat.donateButton.text-color': '#fff'
      });
    </script>
    <script>
      const printOpts = {once: true, capture: true}

      function printLetterByLetter(e) {
        const el = e.target
        if (!el) return false
        let i = 0
        const message = el.dataset.filler
        const speed = el.dataset.speed ?? 50
        const insert = el.children[0]
        var interval = setInterval(function () {
          // looks for an empty span within this element
          if (!insert) return
          insert.innerHTML += message.charAt(i)
          i++
          if (i >= message.length) {
            clearInterval(interval)
          }
        }, speed)

        el.removeEventListener('click', printLetterByLetter, printOpts)
        insert?.addEventListener('click', reloadTypewriter, printOpts)
      }

      function reloadTypewriter(e) {
        const el = e.target
        if (!el) return false
        console.log('reloadTypewriter', el)
        el.innerHTML = ''
        el.removeEventListener('click', reloadTypewriter, printOpts)
        el.parentNode?.addEventListener('click', printLetterByLetter, printOpts)
      }

      document.querySelectorAll('.expose').forEach(el => {
        if (!el) return false
        el.addEventListener('click', printLetterByLetter)
      })
    </script>
  </body>
</html>
