html {
  font-size: 24px;
  font-family: var(--body);
  line-height: 1.25;
}

body {
  margin: 0;
  background-color: var(--purp-deep);
  /* background: linear-gradient(45deg, #1695C5, #3A54CF, #5D17D9); */
  /* background-size: 400% 400%; */
  /* -webkit-animation: Gradient 15s ease infinite; */
  /* -moz-animation: Gradient 15s ease infinite; */
  /* animation: Gradient 15s ease infinite; */
  overflow-x: hidden;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
}

main {
  padding: 4rem;
  color: var(--fore);
  background-color: var(--well);
  margin: 1rem 0;
  position: relative;
  z-index: 2;
  max-width: 64ch;
}

@media screen and (min-width: 48rem) {
  main {
    -webkit-animation: Blob 10s ease infinite;
    -moz-animation: Blob 10s ease infinite;
    animation: Blob 10s ease infinite;
  }
}
