.i-ching li:nth-child(1)::before { content: "\4dc0"; }
.i-ching li:nth-child(2)::before { content: "\4dc1"; }
.i-ching li:nth-child(3)::before { content: "\4dc2"; }
.i-ching li:nth-child(4)::before { content: "\4dc3"; }
.i-ching li:nth-child(5)::before { content: "\4dc4"; }
.i-ching li:nth-child(6)::before { content: "\4dc5"; }
.i-ching li:nth-child(7)::before { content: "\4dc6"; }
.i-ching li:nth-child(8)::before { content: "\4dc7"; }
.i-ching li:nth-child(9)::before { content: "\4dc8"; }
.i-ching li:nth-child(10)::before { content: "\4dc9"; }
.i-ching li:nth-child(11)::before { content: "\4dca"; }
.i-ching li:nth-child(12)::before { content: "\4dcb"; }
.i-ching li:nth-child(13)::before { content: "\4dcc"; }
.i-ching li:nth-child(14)::before { content: "\4dcd"; }
.i-ching li:nth-child(15)::before { content: "\4dce"; }
.i-ching li:nth-child(16)::before { content: "\4dcf"; }
.i-ching li:nth-child(17)::before { content: "\4dd0"; }
.i-ching li:nth-child(18)::before { content: "\4dd1"; }
.i-ching li:nth-child(19)::before { content: "\4dd2"; }
.i-ching li:nth-child(20)::before { content: "\4dd3"; }
.i-ching li:nth-child(21)::before { content: "\4dd4"; }
.i-ching li:nth-child(22)::before { content: "\4dd5"; }
.i-ching li:nth-child(23)::before { content: "\4dd6"; }
.i-ching li:nth-child(24)::before { content: "\4dd7"; }
.i-ching li:nth-child(25)::before { content: "\4dd8"; }
.i-ching li:nth-child(26)::before { content: "\4dd9"; }
.i-ching li:nth-child(27)::before { content: "\4dda"; }
.i-ching li:nth-child(28)::before { content: "\4ddb"; }
.i-ching li:nth-child(29)::before { content: "\4ddc"; }
.i-ching li:nth-child(30)::before { content: "\4ddd"; }
.i-ching li:nth-child(31)::before { content: "\4dde"; }
.i-ching li:nth-child(32)::before { content: "\4ddf"; }
.i-ching li:nth-child(33)::before { content: "\4de0"; }
.i-ching li:nth-child(34)::before { content: "\4de1"; }
.i-ching li:nth-child(35)::before { content: "\4de2"; }
.i-ching li:nth-child(36)::before { content: "\4de3"; }
.i-ching li:nth-child(37)::before { content: "\4de4"; }
.i-ching li:nth-child(38)::before { content: "\4de5"; }
.i-ching li:nth-child(39)::before { content: "\4de6"; }
.i-ching li:nth-child(40)::before { content: "\4de7"; }
.i-ching li:nth-child(41)::before { content: "\4de8"; }
.i-ching li:nth-child(42)::before { content: "\4de9"; }
.i-ching li:nth-child(43)::before { content: "\4dea"; }
.i-ching li:nth-child(44)::before { content: "\4deb"; }
.i-ching li:nth-child(45)::before { content: "\4dec"; }
.i-ching li:nth-child(46)::before { content: "\4ded"; }
.i-ching li:nth-child(47)::before { content: "\4dee"; }
.i-ching li:nth-child(48)::before { content: "\4def"; }
.i-ching li:nth-child(49)::before { content: "\4df0"; }
.i-ching li:nth-child(50)::before { content: "\4df1"; }
.i-ching li:nth-child(51)::before { content: "\4df2"; }
.i-ching li:nth-child(52)::before { content: "\4df3"; }
.i-ching li:nth-child(53)::before { content: "\4df4"; }
.i-ching li:nth-child(54)::before { content: "\4df5"; }
.i-ching li:nth-child(55)::before { content: "\4df6"; }
.i-ching li:nth-child(56)::before { content: "\4df7"; }
.i-ching li:nth-child(57)::before { content: "\4df8"; }
.i-ching li:nth-child(58)::before { content: "\4df9"; }
.i-ching li:nth-child(59)::before { content: "\4dfa"; }
.i-ching li:nth-child(60)::before { content: "\4dfb"; }
.i-ching li:nth-child(61)::before { content: "\4dfc"; }
.i-ching li:nth-child(62)::before { content: "\4dfd"; }
.i-ching li:nth-child(63)::before { content: "\4dfe"; }
.i-ching li:nth-child(64)::before { content: "\4dff"; }
