@import 'vars.css';
@import 'lovelist.css';

.identity-list::before {
  content: "My";
  color: var(--muted);
  border-right: 2px dotted var(--muted);
  padding: 0 1em;
}

.sitenav::before {
  content: "krry.me";
  color: var(--muted);
  border-right: 2px dotted var(--muted);
  padding: 0 1em;
}
