h1 {
  font-size: 3rem;
}

@media (min-width: 48rem) {
  h1 {
    text-indent: 1em;
  }
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

h1,
h2,
h3 {
  margin-bottom: 0.5rem;
  margin-top: 0;
  letter-spacing: 2px;
  font-family: var(--heading);
  font-weight: 300;
  /* text-align: center; */
}

p {
  font-family: var(--text);
  line-height: 1.44;
  text-indent: 1em;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
}

label {
  font-family: var(--body);
}
