:root {
  --body: "Lato", system-ui, sans-serif;
  --text: "Aleo", Georgia, serif;
  --heading: "Righteous", var(--body);
  --fore: hsla(196, 90%, 90%, 1);
  --bkgd: hsla(262, 85%, 12%, 0.9);
  --link-on: hsla(196, 80%, 70%, 1);
  --link-old: hsla(196, 70%, 50%, 1);
  --link-new: hsla(196, 85%, 60%, 1);
  --well: hsla(262, 89%, 21%, 0.825);
  --muted: hsla(196, 10%, 50%, 0.5);
  --well-ful: hsla(262, 89%, 12%, 1);
  --purp-deep: #280664;
  --purp: #5d17d9;
  --blue: #1695c5;
}
/* from moving gradient
 * orange #ee7752
 * red #e73c7e
 * blue #23a6d5
 * green #23d5ab hsl(196, 72%, 49%)
 */
